{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block work_panel %}
    
    <h1>{% trans "DOUME documentation" %}</h1>
    
    <p>        
        This page is not yet completed. 
    </p>
    
{% endblock %}
