{% load uni_form_tags %}


<li class="douaccordeon-parent" id="sell-doom">	
	<div class="douaccordeon-header">        
		<span class="douaccordeon-title">
 			sell doom
 		</span>			
        <span class="douaccordeon-summary">
 			<a href="{% url dooms_general_create %}">[in main window]</a>
 		</span>        
		<div class="clear"></div>        
	</div>
	<div class="douaccordeon-body">	
		<ul id="bought-dooms-menu">
		</ul>
		{% if request.user.is_authenticated %}
	    <form method="POST" action="{% url dooms_general_create %}?menu=True" class="create_doom_form menu">
	      {% csrf_token %}   
            <ul>	    
            {% for field in search_form_comp %}
            <li>
                {% ifequal field.html_name search_form_comp.combination_logic.html_name %}
                    <div id="luthor-logic">
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                    </div>
                {% else %}
                    {{ field.errors }}
                    {{ field.label_tag }}: {{ field }}
                {% endifequal %}
            </li>
            {% endfor %}
            <li><input type="submit" name="create" value="create" /> </li>       
            <li>
            Victory conditions: <input type="submit" name="preview" value="click to preview" />
            <a id="edit-logic" href="javascript:void(0);">[edit logic]</a>
            <div id="luthor-preview">
                <div id="luthor-preview-header">                
                </div>
                <div id="luthor-preview-content">    
                </div>
            </div>
            </li>
            </ul>
	                
	    </form>
        {% endif %}
        <a href="{% url dooms_general_create %}">go to create doom page</a>
	</div>
</li>
<li class="douaccordeon-parent" id="buy-doom">	
	<div class="douaccordeon-header">        
		<span class="douaccordeon-title">
 			buy doom
 		</span>							
        <span class="douaccordeon-summary">
 			<a href="{% url categories_show_category_tree openednode=None %}">[all sales]</a>
 		</span>        
		<div class="clear"></div>        
	</div>
	<div class="douaccordeon-body">
		<ul id="preferred-dooms-menu">
		</ul>	
		{% if request.user.is_authenticated %}
		  {% csrf_token %}
          <ul>
	      {{ search_form_doom.as_ul }}            
          </ul>
		
        <a href="{% url categories_show_category_tree openednode=None %}">see all sales</a>
        {% endif %}
	</div>
</li>								
