{% extends "site_base.html" %}
{% load group_tags %}
{% load humanize %}
{% load mptt_tags %}

{% block extra_head %}
	
	
<script type="text/javascript">
require(["jquery",
         "category_tree"         
         ], function($,category_tree) {
	$(document).ready(function(){
	}); 
});
</script>
	
{% endblock %}

{% block work_panel %}
    {% csrf_token %}
   	<div id="root-categories">
   		{% if flags %}
   			{% ifequal flags "no_categories_defined" %}
   				Sorry, you cannot browse categories because there are no categories defined.
   			{% else %}
   				<strong>Error</strong>: flags are present but unknown: flags= {{flags}}
   			{% endifequal %}
   		{% else %}
	    	<p>Choose your competition!</p>
	    
	    	{% for doom_list_dict in doom_lists %}
	    		{% if forloop.counter0 != 0%} 
	    			<p>   		
	    			<a href="{% url categories_show_category_tree openednode=doom_list_dict.items.0.0.id %}">{{ doom_list_dict.items.0.0 }}</a>
	    			</p>
	    		{% endif %}
	    	{% endfor %}
	    {% endif %}        
    </div>
    
    <div id="prefered-dooms-panel">
    	{% include "categories/category_prefered_dooms.html" %}
    </div>
{% endblock %}
