{% extends "site_base.html" %}
{% load group_tags %}
{% load humanize %}
{% load mptt_tags %}

{% block extra_head %}
	
	
<script type="text/javascript">
require(["jquery",
         "category_tree"
         ], function($,category_tree) {
	$(document).ready(function(){
				
	}); 
});
</script>
	
{% endblock %}

{% block work_panel %}
    {% csrf_token %}
    <div id="prefered-dooms-panel"> 
        
    	{% include "categories/category_prefered_dooms.html" %}
    </div>

    <div id="categories-panel">
    
        <div id="category_tree" style="height:100px;">
        </div>

    </div>
    <div id="doom-categories-panel">
    	{% include "categories/category_tree_dooms.html" %}
    </div>    
   

{% endblock %}
