{% load group_tags %}
{% load humanize %}

<div id="doom-categories-navigation-up">

{% if opennode %}
Navigation:
<li>Back to:
    {% for ancestor in opennode.get_ancestors %}
        <a href="javascript:void(0);" id="{{ancestor.id}}" class="category-tree-navigate"> {{ancestor}} </a>
        {% ifequal forloop.revcounter0 0 %}
        {% else %}
            &rarr;
        {% endifequal %}
    {% empty %}
        <a href="{% url categories_show_category_tree openednode=None%}"> All dooms </a>        
    {% endfor %}
</li>        
{% endif %}

{% ifequal doom_lists|length 1 %} 
{% else %}
    <li> Go to: 
    {% for doom_list_dict in doom_lists %}
        {% ifequal forloop.counter0 0 %}
        {% else %}            
            <a href="javascript:void(0);" id="{{doom_list_dict.items.0.0.id}}" class="category-tree-navigate"> {{doom_list_dict.items.0.0}} </a>
            {% ifequal forloop.revcounter0 0 %}
            {% else %}
                ,
            {% endifequal %}
        {% endifequal %}
    {% endfor %}
{% endifequal %}
</li>
</div>


{% for doom_list_dict in doom_lists %}    
    {% for doom_list_cat,doom_list in doom_list_dict.items %}        
        
        {% ifequal forloop.parentloop.counter0 0 %}
            {% if show_categories %}
            <h3>Most popular</h3>
            {% else %}
            <h3>All</h3>
            {% endif %}
            <div id="doom-categories-showdoom"> 
            
            {% if show_categories %} 
                {% if opennode %}
                    <a href="javascript:void(0);" id="{{opennode.id}}" value="true" class="category-tree-toggle-category">(show all)</a>
                {% else %}
                    <a href="javascript:void(0);" id="-1" value="true" class="category-tree-toggle-category">(show all)</a>
                {%endif%}
            {% else %}
                {% if opennode %}
                    <a href="javascript:void(0);" id="{{opennode.id}}" value="false" class="category-tree-toggle-category">(categories)</a>
                {% else %}
                    <a href="javascript:void(0);" id="-1" value="false" class="category-tree-toggle-category">(categories)</a>
                {%endif%}
            {% endif %}
            </div>
        {% else %}
            <h3>Dooms in <a href="javascript:void(0);" id="{{doom_list_cat.id}}" class="category-tree-navigate"> {{doom_list_cat}} </a></h3>            
        {% endifequal %}
        {% for doom in doom_list %}
            <li> <span class="timeago" title='{{doom.modified|date:"c"}}'>{{ doom.modified|date:"<D d M Y, G:i:s>" }}:</span>
            <div class="doom-selling"> 
            {% ifequal doom.owner request.user %}
            	<div class="doom-buybutton">            	
            	On sale on my wall
            	</div>
            {% else %}                
                <div class="doom-buybutton">
                <a href="{% groupurl dooms_buy group doomid=doom.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">buy</a>
                </div>
            {% endifequal %}
            {% with doom as object %}   
                {% include "dooms/doom_preview.html" %}
            {% endwith %}
            </div>
        {% endfor%}
    {% endfor%}
{% endfor%}
