{% load group_tags %}

{% for doom in prefered_dooms %}
    {% with doom as object %}
    <div class="doom-selling">
        <div class="doom-buybutton">
        <a href="{% groupurl dooms_buy group doomid=object.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">buy</a>
        
        </div>
        {% include "dooms/doom_preview.html" %}
    </div>	
    {% endwith %}
{% endfor %}