{% load group_tags %}

<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>
{% with paginator_page.object_list as sqs %}
<div class="search-title">
{% if query|length %}
	Found <strong>{{ search_count }}</strong> result{{search_count|pluralize}} for <strong>{{ query }}</strong>.
{% else %}
	Listing <strong>{{ search_count }}</strong> result{{search_count|pluralize}}.
{% endif %}
</div>
{% for doom_result in sqs %}
    {% if doom_result.object.on_sale %}
    <li> <span class="timeago" title='{{doom_result.object.modified|date:"c"}}'>{{ doom_result.object.modified|date:"<D d M Y, G:i:s>" }}</span>:
        <div class="doom-selling">     
        {% ifequal doom_result.object.owner request.user %}
            <div class="doom-buybutton">            	
            On sale on my wall
            </div>
        {% else %}                
            <div class="doom-buybutton">
            <a href="{% groupurl dooms_buy group doomid=doom_result.object.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">buy from {{doom_result.object.owner}}</a>
            </div>
        {% endifequal %}
        {% with doom_result.object as object %}   
            {% include "dooms/doom_preview.html" %}
        {% endwith %}
        </div>
    </li>
    {% endif %}
{% endfor %}
{% endwith %}
<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>
