{% load uni_form_tags %}

<form class="uniForm" id="search_bar_doom_form" action="javascript:void(0);">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{search_bar_doom_form|as_uni_form}}
  </fieldset>
</form>

