#title-bar
{ 
  
  padding: 5px; 
  border:2px blue solid;
  overflow: visible;
	height:120px;
  }
    
#logo-space 
{   
  float: left;
  margin: 5px;
  border:2px red solid;
  
  }

#notif-panel
{ 
   float: left;
    padding-right: 100px;
    padding-left: 100px;
  border:2px coral solid;
  }

.if-invitation-item
{ 
   float: top;
  border:2px purple solid;
  }

#avatar-panel
{ 
  float: top;
  width: 90%;
  margin: 5px auto 5px auto;
  border:2px blue solid;
  padding: 5px;
}

#nickname-panel
{ 
  float: top;
  padding: 5px;
  width: 90%;
  margin: 5px auto 5px auto;
  border:2px blue solid;
  padding: 5px;
  }

#team-panel
{ 
  float: top;
  padding: 5px;
  width: 90%;
  margin: 5px auto 5px auto;
  border:2px blue solid;
  padding: 5px;
  }

#friends-panel
{ 
  float: top;
  padding: 5px;
  width: 90%;
  margin: 5px auto 5px auto;
  border:2px blue solid;
  padding: 5px;
  }


#personal-panel 
{
  float: left;
  width: 15%; 
  padding: 5px;
  margin: 5px auto 5px auto;
  border:2px green solid;
  word-wrap: break-word;

  }

#work-panel 
{
  width: 60%; 
  margin: auto;
  padding: 20px; 
  border:2px yellow solid;
  overflow: auto;
  word-wrap: break-word;
  }

#info-panel 
{
  float: right; 
  width: 15%; 
  padding: 10px; 
  border:2px coral solid;
  overflow: auto;
  margin: 5px;      
  word-wrap: break-word;    
}

#quickdoom-panel
{
  float: top;
  padding: 5px;
  width: 90%;
  margin: 5px auto 5px auto;
  border:2px blue solid;
  padding: 5px;
}

#allsales-panel
{
  float: top;
  padding: 5px;
  width: 90%;
  margin: 5px auto 5px auto;
  border:2px red solid;
  padding: 5px;
}

#selling-panel
{
  width: 95%; 
  margin: auto;
  padding: 10px; 
  border:2px green solid;
  overflow: auto;
  word-wrap: break-word;
}

.doom-selling
{  
  margin: 20px;
  padding: 10px; 
  border:2px cornflowerblue solid;
  overflow: auto;
  word-wrap: break-word;
  }
.doom-buying
{
  margin: 20px;
  padding: 10px; 
  border:2px black solid;
  overflow: auto;
  word-wrap: break-word;
}
#transaction-credit
{
  margin: 20px;
  padding: 10px; 
  border:2px blue solid;
  overflow: auto;
  word-wrap: break-word;
}

#transaction-debit
{
  margin: 20px;
  padding: 10px; 
  border:2px red solid;
  overflow: auto;
  word-wrap: break-word;
}

.news
{  
  margin: 20px;
  padding: 10px; 
  border:2px green solid;
  overflow: auto;
  word-wrap: break-word;
}

#doom-buybutton
{    
    padding: 0px 20px 0px 20px;
    border:2px darkblue dotted;
    float: right;
}

#doom-description
{    
    font-style:italic;
    color: blue;
    padding: 0px 20px 0px 20px;
    border:1px darkblue dotted;    
}

#prefered-dooms-panel
{    
    width: 95%; 
    margin: auto;
    padding: 10px; 
    border:2px pink solid;
    overflow: auto;
    word-wrap: break-word;
}

#latest-dooms-panel
{    
    width: 95%; 
    margin: auto;
    padding: 10px; 
    border:2px brown solid;
    overflow: auto;
    word-wrap: break-word;
}

#categories-panel
{    
  float: left; 
  width: 15%; 
  padding: 10px; 
  border:2px green solid;
  overflow: auto;
  margin: 5px;      
  word-wrap: break-word;    
}

#doom-categories-panel
{    
  float: left; 
  width: 70%; 
  padding: 10px; 
  border:2px gray solid;
  overflow: auto;
  margin: 5px;      
  word-wrap: break-word;
}


#activity-panel
{    
    float: right;
    margin: 5px;
    border:2px blue solid;
}

#transactionbutton-panel
{    
	float: left;
	position: relative;
    z-index: 0;
	width: 200px;
	height: 50px;
	margin: 5px;
	overflow: visible;
	border:2px red solid;
}

#doom-create-panel
{
  float: right;
    margin: 5px;
    border:2px blue solid;
  word-wrap: break-word;
}

#doom-draft-panel
{
  float: top;
  padding: 5px;
  width: 90%;
  margin: 5px auto 5px auto;
  border:2px pink solid;
  padding: 5px;
}
