.clear {clear:both} 
.douaccordeon {
    margin:0; 
    padding:0; 
    list-style:none;
}   
     
.douaccordeon li {     
    background:#ccc; 

}

.douaccordeon-body {     
    background:#ccc; 
    display:none;
    border:2px black solid;
}

.douaccordeon-parent{    
	background:#ccc;
}


.douaccordeon-header:hover {  
	color:#fff;  
    background:#ff0000; 
    border:2px blue solid;
    cursor: default;
       
}

.douaccordeon-header {    
    border:2px brown solid;
    cursor: default;   
    display:block;    
}
