{% load group_tags %}
{% load humanize %}
{% load avatar_tags %}

<li>
    {% with wallpost.content_object as object %}
        <div id="wallpost_{{wallpost.id}}">        
        {%ifequal wallpost.category 0 %} {# news #}
            <div class="home-wallpost-header">
                <span class="home-user-interaction">            
                {% avatar wallpost.owner 25 %} {{ wallpost.owner }} &lArr; {% avatar wallpost.writer 25 %} {{ wallpost.writer }}:
                </span>
                <span class="home-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                </span>                
            </div>
            <div class="clear"></div>
            <div class="news">
                {% ifequal wallpost.content_type.model "message" %}        
                    {% include "wall/message.html" %}            
                {% endifequal%}
                {% ifequal wallpost.content_type.model "friendshipinvitation" %}        
                    {% include "wall/invitation.html" %}            
                {% endifequal%}
            </div>
        {% else %} {# buy/sell #} 
            {% with wallpost.content_object.transaction.doom as doom %}
            <span class="wallpost_doom_{{doom.id}}">
            {% with wallpost.content_object.transaction as transaction %}
                {% with wallpost.content_object.message as message %}
                    {% ifequal wallpost.category 1 %} {# buy #}    
                        <div class="home-wallpost-header">
                            <span class="home-user-interaction">            
                            {% avatar wallpost.owner 25 %} {{ wallpost.owner }} &lArr; {% avatar transaction.user_paid 25 %} {{ transaction.user_paid }}:
                            </span>
                            <span class="home-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                            {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                            </span>                
                        </div>
                        <div class="clear"></div>
                        
                        <div class="doom-buying">
                        <span id="wallpost-message">
                            {{ message }}
                            </span>
                            {% include "home/wallpost_doom_interaction.html" %}
                        </div>
                    {% endifequal %}
                    {% ifequal wallpost.category 2 %} {# sell #}
                        <div class="home-wallpost-header">
                            <span class="home-user-interaction">
                            {% avatar wallpost.owner 25 %} {{ wallpost.owner }}:
                            </span>
                            <span class="home-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                            {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                            </span>                
                        </div>
                        <div class="clear"></div>
                        <div class="doom-selling">
                            <span id="wallpost-message">
                            {{ message }}
                            </span>
                            {% include "home/wallpost_doom_interaction.html" %}
                        </div>
                    {% endifequal %}
                    {% ifequal wallpost.category 3 %} {# win #}
                        <div class="home-wallpost-header">
                            <span class="home-user-interaction">
                            {% avatar wallpost.owner 25 %} {{ wallpost.owner }}:
                            </span>
                            <span class="home-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                            {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                            </span>                
                        </div>
                        <div class="clear"></div>
                        <div class="doom-winner">
                            <span id="wallpost-message">
                            {{ message }}
                            </span>
                        </div>
                    {% endifequal %}                      
                {% endwith %}               
            {% endwith %}
            </span>                               
            {% endwith %}
        {% endifequal%}                   
        </div>
    {% endwith %}
</li>