{% load group_tags %}
{% load humanize %}
{% load mptt_tags %}
{% load avatar_tags %}
<div id="selling-panel-controls">
<div class="left-panel">
<ul class="showcase-tabs">
  	<li class="showcase-tabs-selected" id="sales">Sales</li>
  	<li id="victories">Victories</li>
    <li id="hide">Hide</li>
</ul>
</div>
</div>
<div id="selling-panel">
{% for doom in dooms %}
    {% with doom as object %}
    <span id="frontsale_doom_{{ doom.id }}">
	    <div class="doom-selling">      
	        <div class="doom-buybutton">
	        <a href="{% groupurl dooms_buy group doomid=doom.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">buy</a>
	        </div>
	        {% include "dooms/doom_preview.html" %}
	      
	    </div>
    </span>	
    {% endwith %}
{% empty %}
	<strong>No friend sales to display.</strong>
{% endfor %}
</div>
<div id="winning-panel">
	{% for doom in finished_dooms %}
		{% ifequal doom.status Doom.WON %}
		{% with doom as object %}
		<span id="winner_doom_{{ doom.id }}">            
			<div class="doom-winner">                
				{% include "dooms/doom_victory_preview.html" %}
                <div id="doom-winbutton"><strong> won by <a href="{% url wall_detail object.owner %}">{{object.owner}}</a></strong></div>
			</div>	
		</span>
		{% endwith %}
		{% endifequal %}
	{% empty %}
	<strong>No friend victories to display.</strong>
	{% endfor %}
</div>
<ul id="home-activity-panel">
    
{% for wallpost in wallposts %}
	
	{% ifequal wallpost.content_object.transaction.user_paid request.user %}
    {% else %}
        {% include "home/home_item.html" %}
    {% endifequal%}
{% empty %}
	<strong>No friend activity. Wall empty.</strong>
{% endfor %}
</ul>