<div class="pagination">
    {% include "pagination.html" %}
</div>
   {% with paginator_page.object_list as wallposts %}
   <div id="home-contents">
   {% include "home/home_contents.html" %}
   </div>
   {% endwith %}
   <div class="pagination">
    {% include "pagination.html" %}
</div>