{% include "wall/js.html" %}

<script type="text/x-jqote-template" id="wallpost_users_interaction">
<![CDATA[
        <div class="home-wallpost-header">
            <span class="home-user-interaction">            
            <% if((this.category !=2 && this.category !=3) /* no interaction when selling or winning doom */ && ((this.writer && this.wallpost_owner) || this.transaction)){ %>
                <%  if(this.transaction){ %>
                <span class="avatar_<%=this.transaction.user_paid %>"></span>  <%= this.transaction.user_paid %>
                &lArr;
                <span class="avatar_<%=this.transaction.user_paying %>"></span> <%= this.transaction.user_paying %>
                <%  }else{ %>
                <span class="avatar_<%=this.wallpost_owner%>"></span>  <%= this.wallpost_owner %>
                &lArr;
                <span class="avatar_<%=this.writer%>"></span> <%= this.writer %>
                <%  } %>
            <%     
                 Dajaxice.profiles.get_avatar_url(require("init_js_common_functions_static").replace_avatar,{"user":this.writer});
                 Dajaxice.profiles.get_avatar_url(require("init_js_common_functions_static").replace_avatar,{"user":this.wallpost_owner});
                }else if(this.wallpost_owner){            
            %>
                <span class="avatar_<%=this.wallpost_owner%>"></span>  <%= this.wallpost_owner %>:
            <%
                
                Dajaxice.profiles.get_avatar_url(require("init_js_common_functions_static").replace_avatar,{"user":this.wallpost_owner});
                }
            %>
            </span>
            <%var now = require("init_js_common_functions_static").ISODateString(new Date());%>
            <span class="home-wallpost-time timeago" title='<%=now%>'>
            <%=now%>
            </span>
        </div>
        <div class="clear"></div>
        
]]>
</script>
