{% load group_tags %}

<span id="wallpost_doom_interaction">
    {% if doom.is_active %}
        {% ifequal doom.status Doom.PENDING %}
            {% if doom.on_sale %} {# doom bought but is now on sale #}
                <div class="doom-buybutton">
                {% ifequal user doom.owner %}
                    on sale on my wall    
                {% else %}
                    <a href="{% groupurl dooms_buy group doomid=doom.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">
                    {% ifequal doom.owner other_user %} {# property of current user #}
                        buy
                    {% else %} {# property of another user #}
                        buy from {{ doom.owner }}
                    {% endifequal %}
                    </a>
                {% endifequal %}
                                        
                </div>
            {% else %}                            
                {% ifequal user doom.owner %}
                    <div class="doom-sellbutton">                                
                    <a href="{% groupurl dooms_sell group doomid=doom.id %}" rel="facebox">sell</a>
                    </div>
                {% else %}
                    {% ifequal doom.owner other_user %} {# the doom belongs to viewd profile, no need to specify owner #}
                        
                    {% else %}
                        <div class="doom-sellbutton">
                        now owned by <a href={% url wall_detail doom.owner %}>{{ doom.owner }}</a>
                        </div>
                    {% endifequal %}
                {% endifequal %}
            {% endif %}
        {% endifequal %}
        {% ifequal doom.status Doom.WON %}
            <div id="doom-winbutton">
            {% ifequal user doom.owner %}
                I won this
            {% else %}
                {% ifequal other_user doom.owner %}
                    won
                {% else %}
                    won by <a href={% url wall_detail doom.owner %}>{{ doom.owner }}</a>
                {% endifequal %}
            {% endifequal %}
            </div>
        {% endifequal %}
        {% ifequal doom.status Doom.LOST %}
            <div id="doom-losebutton">
            {% ifequal user doom.owner %}
                I lost this
            {% else %}
                {% ifequal other_user doom.owner %}
                    lost
                {% else %}
                    lost by someone else
                {% endifequal %}
            {% endifequal %}
            </div>
        {% endifequal %}
        <span class="wallpost-doom-details">
        <span id="wallpost-doom-details-header">
        <a href="javascript:void(0);" class="">doom details</a>
        </span>
        <div id="wallpost-doom-details-contents">
        <div class="clear"></div>
        {% with doom as object %}
            {% include "dooms/doom_preview.html" %}
        {% endwith %}
        </div>
        </span>
    {% endif %}
</span>