{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Create Team{% endblocktrans %}{% endblock %}

{% block work_panel %}
    <h1>{% trans "Create Team" %}</h1>
    
    <p>{% trans "A <b>team</b> is a group of people you'll bet with." %}</p>
    {% if user.is_authenticated %}
        <form class="uniForm" id="teamcreate_form" method="POST" action="{% url team_create %}">
            {% csrf_token %}            
            {{ teamcreate_form|as_uni_form }}
            <input type="submit" value="{% trans 'create' %}"/>
        </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own team or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}