{% load group_tags %}

{# User wants to join team. This notification is therefore recieved on team notification space. #}
{# It can also appear on the captain's notification space only if he's still captain #}
{# Therefore there is no need to notify the captain directly (otherwise he could mess up withs invitations even thought he has been banned as captain #}
<div class="teamjoinnotification">
{% if object.status < 3 %}
  {% if object.status == 0 %} 
    {{ object.user }} wants to join your team ({{ object.team }}).
    {{ object.user }} says: <br> {{ object.message }}<br>
  {% endif %}
  {% if object.status == 1 %} 
    Team {{ object.team }} wants you ({{ object.user }}) to join them.
    {{ object.team }} says: <br> {{ object.message }}<br>
  {% endif %}

 <form method="post" action="{% groupurl team_handle_membership object.team %}">
   {% csrf_token %}
   <input type="hidden" name="notif" value="{{ object.id }}"/>    
   <input type="hidden" name="response" value="accept"/>
   <input type="submit" value="accept" />
 </form>
 <form method="post" action="{% groupurl team_handle_membership object.team %}">
   {% csrf_token %}
   <input type="hidden" name="notif" value="{{ object.id }}"/>    
   <input type="hidden" name="response" value="decline"/>
   <input type="submit" value="decline" />
 </form>
 {% endif %}
{# if needed to check wheather the user is me #}
{# the name of the current notified user or team is passed in item.reciever or item.reciever_team #}
{% if object.status == 3 %}
  Membership for user {{ object.user }} in team {{ object.team }} has beed refused.
{% endif %}
{% if object.status == 4 %}
  Membership for user {{ object.user }} in team {{ object.team }} has beed accepted.
{% endif %}



</div>

