{% extends "site_base.html" %}

{% load i18n %}
{% load humanize %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Teams{% endblocktrans %}{% endblock %}

{% block work_panel %}
    <h1>{% trans "Teams" %}</h1>
    
    {% if user.is_authenticated %}
        <p><a href="{% url team_create %}">Create</a> your own team.</p>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to create your own team or join an existing one.{% endblocktrans %}</p>
    {% endif %}
    
    {% autopaginate teams 10 %}
    {% if teams %}        
        <dl>
        {% for team in teams %}
            <li>
            {% include "teams/team_preview.html" %}
        {% endfor %}
        </dl>
        {% paginate %}
    {% endif %}
    
{% endblock %}
