{% extends "site_base.html" %}

{% load avatar_tags %}
{% load i18n %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load group_tags %}
{% load uni_form_tags %}

{% block head_title %}{{ team.name }}{% endblock %}

{% block work_panel %}
  <ul id="tabnav">
    <li><a href="{% groupurl wall_detail group username="" %}">News - Buying - Selling</a></li>
    <li class="active"><a href="{% groupurl team_detail group %}">infos</a></li>
  </ul>

    {% if user.is_authenticated %}
        <div class="right_panel">
            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%">
                    {% for member in team.members.all %}
                        {% if forloop.counter0|divisibleby:"3" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member 40 %}</div>
                            <div class="details"><a href="{% url wall_detail member.username %}" title="{{ member.username }}">{{ member }}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"3" %}</tr>{% endif %}
                    {% endfor %}
                    {% if team.members.all|length|divisibleby:"3" %}{% else %}</tr>{% endif %}
                </table>
            </div>
        </div>
    {% endif %}
    
    <div style="width: 550px;">
        
        <h1>{% trans "Team" %} {{ team.name }}</h1>
        
        <p>
            {% trans "Creator:" %} <a href="{% url wall_detail team.creator.username %}">{{ team.creator }}</a><br />
            {% trans "Created:" %} {{ team.created|date }}
            <br />
        </p>
        
        <p>{{ team.description }}</p>
        
        {% ifequal user team.creator %}
          <p><a href="">{% trans "Edit details" %}</a></p>
	  <form class="uniForm" id="invite_form" method="POST" action="">
	    {% csrf_token %}
	    <fieldset class="inlineLabels">
	      {{ invite_form|as_uni_form }}
	      <div class="form_block">
		<input type="submit" value="{% trans 'invite' %}"/>
	      </div>
	    </fieldset>
	  </form>
        {% endifequal %}
        
        {% if user.is_authenticated %}
            <div>
	      
	      {% csrf_token %}
	      {% if is_member %}
                View <a href="{% groupurl interactive_notification_list group %}">notifications</a> for this team.
                
              {% else %}
                <form method="POST" action="{% groupurl team_try_join group %}">
                  {% csrf_token %}
                  <input type="submit" value="{% trans 'join' %}"/>
                </form>
              {% endif %}
              
             
                
            </div>
        {% else %}
            {% url acct_signup as signup_url %}
            {% url acct_login as login_url %}
            <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to join this team.{% endblocktrans %}</p>
        {% endif %}
        
    </div>

    

{% endblock %}
