{% extends "site_base.html" %}
{% load group_tags %}
{% load humanize %}

{% block work_panel %}
    <div id="prefered-dooms-panel">
    </div>
    <div id="latest-dooms-panel">  
        <strong>Latest sales:</strong>
        {% for doom in dooms %}
            <li> {{ doom.modified|date:"<D d M Y, G:i:s>" }}
            <div class="doom-selling"> 
			{% ifequal doom.owner me %}
            
            {% else %}                
                <div class="doom-buybutton">
                <a href="{% groupurl dooms_buy group doomid=doom.id %}" rel="facebox">buy</a>
                </div>
            {% endifequal %}
            {% with doom as object %}   
                {% include "dooms/doom_preview.html" %}
            {% endwith %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
