{% load uni_form_tags %}
<div id="form_errors_{{doomid}}"></div>
<div id="form_activity_{{doomid}}">
Please indicate your doom's price and description:

<form class="uniForm sell_doom_form" method="POST" action="{% url dooms_sell doomid %}">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ doom_change_form|as_uni_form }}
    <div class="form_block">
      <input type="submit" value="sell" />
    </div>
  </fieldset>
</form>
</div>