<script type="text/javascript">
require(["jquery","init_js_common_functions_static",'qTip2'],function($,common_fn){
	$(document).ready(function(){
		common_fn.setup_facebox();
		
		$('#doom_frontbuy_{{object.id}}').qtip({
			content: {
				text: 	'{{ object.description }}', 
			},
			position: {
				my: "center right", // Use the corner...
				at: "center left" // ...and opposite corner
			},
			style: {
				classes: 'ui-tooltip-plain ui-tooltip-shadow'
			}
		});
	});
});
</script>

From <a href="{% url wall_detail username=object.owner %}">{{object.owner}}</a>
<a href="{% url dooms_buy doomid=object.id %}?buy_doom_redirect={{buy_doom_redirect}}"  class="doom-buy-frontpage" rel="facebox">
	<div id="doom_frontbuy_{{object.id}}" class="doom-preview">
		{% if object.speech|length < 255 %}
			<div id="doom-speech_{{object.id}}" class="doom-speech">
				<div id="doom-speech-content">
					{{ object.speech|safe }}
				</div>
			</div>
		{% else %}
		{% for competition in object.competition_set.all %} 
		    {{ competition }}
		    {% if forloop.revcounter0 > 0 %}, {% endif %}
		{% endfor %}
		<br/>
		{% endif %}
		
		<strong>Price:</strong>{{object.price}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Potential win:</strong> {{object.potential_win}}<br>		
	</div>	
</a>
