{% load uni_form_tags %}

You are going to buy: 
{% with doom as object %}
    {% include "dooms/doom_preview.html" %}
{% endwith %}

<form class="uniForm buy_doom_form" method="POST" action="{% url dooms_buy doom.id %}?buy_doom_redirect={{buy_doom_redirect}}" id="doom{{doom.id}}">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ doom_change_form|as_uni_form }}
    <div class="form_block">
      <input type="submit" class="doumebutton add" value="Buy doom" />
    </div>
  </fieldset>
</form>
</div>