   
<span class="doom-base-preview" id="{{object.id}}">
	<span class="doom-ref">
	Ref: #{{ object.id_string }}
	</span>
	{% for competition in object.competition_set.all %} 
	    {{ competition }}
	    {% if forloop.revcounter0 > 0 %}, {% endif %}
	{% endfor %}
	<br/>
	<strong>Price:</strong>{{object.price}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Potential win:</strong> {{object.potential_win}}<br/>
	<div id="doom-description">
		{{ object.description }}
	</div>
</span>
<div id="doom-speech_{{object.id}}" class="doom-speech">
	<div id="doom-speech-header">
	Victory conditions:<a href="javascript:void(0);">[toggle]</a>
	</div>
	
	<div id="doom-speech-content" 
	{% if hide_logic %}
	style="display:none;"
	{% else %}
	{% endif %}
	>
	{{ object.speech|safe }}
	</div>

</div>

