<script type="text/javascript">
require(["jquery","init_js_common_functions_static"],function($,common_fn){
	common_fn.setup_facebox();
	$.facebox({ ajax: '{% url dooms_buy doomid=object.id %}'});
});
</script>
<div>
{% if hide_text %}
{% else %}
<a href="{% url dooms_buy doomid=object.id %}" class="external" rel="facebox">
Click here to buy:
</a>
<div>
{% include "dooms/doom_preview.html" %}
</div>
{% endif %}
</div>