<p>
<strong>Credits won:</strong> {{object.potential_win}}
</p>
{% for competition in object.competition_set.all %} 
    {{ competition }}
    {% if forloop.revcounter0 > 0 %}, {% endif %}
{% endfor %}
<br>
<strong>Price:</strong>{{object.price}}

<div id="doom-description">
{{ object.description }}
</div>
