{% extends "site_base.html" %}

{% load group_tags %}

{% block extra_head %}
    <script type="text/javascript">
    require(["jquery","ajax_select/ajax_select","doom_create_form"],function($,ajax_select,doom_create_form){
	    $(document).ready(function(){
	        {% autoescape off %}
	        {% for item in get_competitions %}
	            ajax_select.add_item("#id_page-competition",'{{item.competition.id}}','{{item.config|escapejs}}');            
	        {% endfor %}
	        {% endautoescape %}
	        doom_create_form.ajaxify_form("page");
	    });
    });
    </script>
{% endblock %}

{% block work_panel %}
<div id="doomsearch-panel">
</div>
<div id="doomcreate-panel">
	You are about to create a doom from:
	<form method="POST" action="{% url dooms_general_create %}" class="create_doom_form page">
	  {% csrf_token %}
        <ul>	    
        {% for field in doom_form %}
        <li>            
            {% ifequal field.html_name doom_form.combination_logic.html_name %}
                <div id="luthor-logic">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
                </div>
            {% else %}
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            {% endifequal %}
        </li>
        {% endfor %}
	    <li><input type="submit" name="create" value="create" /> </li>       
        <li>
	    Victory conditions: <input type="submit" name="preview" value="click to preview" />
        <a id="edit-logic" href="javascript:void(0);">[edit logic]</a>
        <div id="luthor-preview">
            <div id="luthor-preview-header">                
            </div>
            <div id="luthor-preview-content">    
            </div>
        </div>
        </li>
        </ul>
	</form>
    
    
	You'll have to guarantee your potential win before creating doom. This amount will be restituted to you after the doom wins or loses. Therefore, you will be redirected to a payment page.
</div>
{% endblock %}