{% if object.speech|length < 255 %}
<div id="doom-speech_{{object.id}}" class="doom-speech">
<div id="doom-speech-content">
{{ object.speech|safe }}
</div>
</div>
{% else %}
{% for competition in object.competition_set.all %} 
    {{ competition }}
    {% if forloop.revcounter0 > 0 %}, {% endif %}
{% endfor %}
<br/>
{% endif %}

<strong>Price:</strong>{{object.price}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Potential win:</strong> {{object.potential_win}}<br>

<div id="doom-description">
{{ object.description }}
</div>
