{% load uni_form_tags %}
{% load group_tags %}


You are about to create a doom from:
<form class="uniForm" method="POST" action="{% groupurl dooms_general_create group %}?doomid={{doomid}}&lastcompetition={{lastcompetition}}">
  {% csrf_token %}

 
  <fieldset class="inlineLabels">
    {{ doom_form|as_uni_form }}
    {% for form in forms %}
      <li>{{ form.competition.competition_object }}
      {%if forloop.last %}
	
	{{ change_competition_form }}    
	<input type="submit" name="change_form" value="change" /> 
      {%endif%}
      <p>
      {{ form|as_uni_form}}
      </p>
    {% endfor %}

    
    <div class="form_block">
      <input type="submit" name="add_form" value="[+]" /> 
      {% if forms %}
      <input type="submit" name="create_doom" value="create doom" />
      {% endif %}
    </div>    
  </fieldset>
</form>
You'll have to guarantee your potential win before creating doom. This amount will be restituted to you after the doom wins or loses. Therefore, you will be redirected to a payment page.

