<script type="text/javascript">
require(["jquery","init_js_common_functions_static"],function($,common_fn){
	$(document).ready(function(){
		common_fn.setup_facebox();
	});
});
</script>
<div id="doom-details-contents">
{% include "dooms/doom_preview.html" %}
</div>
{% if object.on_sale %}
	{% ifequal object.owner request.user %}
	    <div class="doom-buybutton">            	
	    On sale on my wall
	    </div>
	{% else %}                
	    <div class="doom-buybutton">
	    <a href="{% url dooms_buy doomid=object.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">buy</a>
	    </div>
	{% endifequal %}
{% endif %}