<script type="text/x-jqote-template" id="loading_menu_next_attempt">
<![CDATA[
Failed to retrieve doom. 
<% if(this.attempt<this.max_attempts){ %>
Attempt <%=this.attempt%>/<%=this.max_attempts%>.
Retrying... <img src="{{ STATIC_URL }}img/loading.gif"/>
<% }else{ %>
Please reload your page.
<% } %>
]]>
</script>

<script type="text/x-jqote-template" id="doom_sell_success_page">
<![CDATA[

<p>
Doom <strong><%= this.doom.signature %></strong> (<%= this.doom.description %>) is now on sale on your <a href='<% var url=require('urls').resolve("wall",{username:this.doom.owner});%><%=url%>'>wall</a>.<br/>
If sold, you'll get <%= this.doom.price %> credits.
</p>
Click anywhere on the page to close this window.
]]>
</script>

<script type="text/x-jqote-template" id="doom_sell_fail_page">
<![CDATA[
<p>
Selling of doom has failed.
</p>
<p>
Reason: <%= this.description %>
</p>
Click anywhere on the page to close this window.
]]>
</script>

<script type="text/x-jqote-template" id="doom_sell_unknown_fail_page">
<![CDATA[
Selling of doom has failed for unknown reasons.
<br/>
Data: <%= this.data %>
]]>
</script>


<script type="text/x-jqote-template" id="doom_buy_unknown_fail_page">
<![CDATA[
Purchase of doom has failed for unknown reasons.
]]>
</script>

<script type="text/x-jqote-template" id="doom_create_compiler_warnings">
<![CDATA[
<p>
<strong>
Your doom is valid but somewhat unusual. Our automatic checking system issued these warnings:
</strong>
</p>
<p>
<% var text=this.data.replace(/\\n/g, '<br />'); %><%= text %>
</p>
<strong>
If you know about this, feel free to dismiss this message.
</strong>
</p>
]]>
</script>

<script type="text/x-jqote-template" id="doom_create_success_facebox">
<![CDATA[
<p>
You have successfully created a new doom.
</p>
Click anywhere on the page to close this window.
]]>
</script>

<script type="text/x-jqote-template" id="redirect_to_payment_config_facebox">
<![CDATA[
<p>
You don't have any credits in your account and you didn't specify a payment service in your configuration.
</p>
You will now be redirected to your payment configuration...
]]>
</script>

<script type="text/x-jqote-template" id="doom_create_fail_page">
<![CDATA[
<p>
Doom creation failed for unknown reasons.
</p>
<p>
Reason: <%= this.description %>
</p>
Click anywhere on the page to close this window.
]]>
</script>

<script type="text/x-jqote-template" id="doom_create_transaction_redirect_facebox">
<![CDATA[
<p>
Not enough credits in your account (or they are used to back your dooms).
</p>
<p>
Redirecting to payment service...
</p>
]]>
</script>

