{% load avatar_tags %}
{% load group_tags %}
{% load i18n %}


<strong>Latest dooms:</strong>

<ul>
{% for doom_result in popular_dooms %}
    <li class = "doom-preview-frontpage"> 
    {% with doom_result.object as object %}
    {% include "dooms/doom_preview_tiny_user_click2buy.html" %}
    {% endwith %} 
    </li>
{% endfor %}
</ul>