{% extends "dooms/competitions/common_competition_configure.html" %}

{% block common_css_extra %}
	{% block tsws_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/competitions/twosideswithscores.css" />
	{% endblock %}
	{% block tsws_css_extra %}
	{% endblock %}
{% endblock %}



{% block common_js_extra %}
	{% block tsws_js %}
		require([
		{% block tsws_js_competition_include %}	
		{% endblock %}
		], 
		function(competition) {
			competition.configure("{{id_master}}",{side1:"{{ competition.side1 }}",side2:"{{ competition.side2 }}"},
		    {% if page %}
		        true
		    {% else %}
		        false
		    {% endif %}
		    ,"{{competition_form.prefix}}");
			
		
		});
	{% endblock %}
{% endblock %}

{% block common_help_template_id %}{% block tsws_help_template_id %}{% endblock %}{% endblock %}
{% block common_help_template %}
	{% block tsws_help_template_content %}
		{% block tsws_help_template_content_title %}
			<p>
			You can use the following fields in your logic:
			</p>
		{% endblock %}
		{% block tsws_help_template_content_list %}
			<ul>
			{% block tsws_help_template_content_basic %}
				<li>write <%= this.side1_code %> for <%= this.side1_name %></li>
				<li>write <%= this.side2_code %> for <%= this.side2_name %></li>
				<li>attributes of <%= this.side1_code %> and <%= this.side2_code %> are: SCORE </li>
			{% endblock %}
			{% block tsws_help_template_content_specific %}
			{% endblock %}
			</ul>
			{% block tsws_help_template_content_extra %}
			{% endblock %}
		{% endblock %}
	{% endblock %}		
{% endblock %}

{% block common_competition_title %}
{% block tsws_competition_title %}
{{ competition.side1 }}(<span class="side1_id_string"></span>) vs {{ competition.side2 }}(<span class="side2_id_string"></span>)
{% endblock %}
{% endblock %}

{% block common_competition_accordion %}
	{% block tsws_competition_accordion_outcome %}
    	<h3 class="outcome">
    		{% block tsws_competition_accordion_outcome_label %}
    			<a href="#">Outcome</a>
    		{% endblock %}
    		<span class="status">[Not set]</span>
    	</h3>
    {% endblock %}
    {% block tsws_competition_accordion_outcome_content %}
    	<div class="jqui-parent outcome">		
        	<div class="fieldWrapper">
            	{{ competition_form.side_choices.errors }}
           		{{ competition_form.side_choices.label_tag }}: 
           		<ul class="qualitative-list">
	           		{% block tsws_competition_accordion_outcome_content_choices %}
		           		<li id="0">{{ competition_form.side_choices.0 }}</li>
	    	       		<li id="1">{{ competition_form.side_choices.1 }}</li>
	        	   		<li id="2">{{ competition_form.side_choices.2 }}</li>
	           			{% block tsws_competition_accordion_outcome_content_choices_extra %}
	           			{% endblock %}
           			{% endblock %}
           		</ul>
        	</div>		
		</div>
	{% endblock %}
	{% block tsws_competition_accordion_scoredetail %}
   		<h3 class="score-detail">
   			{% block tsws_competition_accordion_scoredetail_label %}
   			<a href="#">Score detail</a>
   			{% endblock %}
   			<span class="status">[Not set]</span>
   		</h3>
   	{% endblock %}
   	{% block tsws_competition_accordion_scoredetail_content %}
    	<div class="jqui-parent score-detail">
    		{% block tsws_competition_accordion_scoredetail_content_quickscores %}
				<div id="quick-scores">
					{% block tsws_competition_accordion_scoredetail_content_quickscores_label %}
						Choose a score:
					{% endblock %}
					{% block tsws_competition_accordion_scoredetail_content_quickscores_content %}
						<a id="0 - 0" href="javascript:void(0);">0 - 0</a>, 
						<a id="1 - 0" href="javascript:void(0);">1 - 0</a>, 
						<a id="0 - 1" href="javascript:void(0);">0 - 1</a>, 
						<a id="1 - 1" href="javascript:void(0);">1 - 1</a>, 
						<a id="2 - 0" href="javascript:void(0);">2 - 0</a>, 
						<a id="2 - 1" href="javascript:void(0);">2 - 1</a>, 
						<a id="0 - 2" href="javascript:void(0);">0 - 2</a>, 
						<a id="1 - 2" href="javascript:void(0);">1 - 2</a>, 
						<a id="2 - 2" href="javascript:void(0);">2 - 2</a><br/>
					{% endblock %}
				</div>
			{% endblock %}
			{% block tsws_competition_accordion_scoredetail_content_manualscores %}
				<div class="fieldWrapper" id="score">            
	           		{{ competition_form.score }}           	
	        	</div>
				<div class="fieldWrapper" id="other_score">
	            	{{ competition_form.score.errors }}
	           		{% block tsws_competition_accordion_scoredetail_content_manualscores_label %}
	           			Other: 
	        		{% endblock %}
	        		{% block tsws_competition_accordion_scoredetail_content_manualscores_input %}
	           			{{ competition_form.other_score }}
	           		{% endblock %}           	
	        	</div>
	        {% endblock %}
		</div>
	{% endblock %}
	{% block tsws_competition_accordion_extra %}	    	
   	{% endblock %}
{% endblock %}
