{% load group_tags %}

<script type="text/javascript">
	require(["jquery","competition_search"],function($,competition_search){
		$(document).ready(function(){
			$(".competition-search-results").on("click","a.find-dooms-related-to-competition", function(){
				competition_search.find_dooms_related_to_competition(parseInt($(this).attr("value")));
			});
		});
	});
</script>

<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>
<ul class="competition-search-results">
{% with paginator_page.object_list as sqs %}
<div class="search-title">

{% if query|length %}
	Found <strong>{{ search_count }}</strong> result{{search_count|pluralize}} for <strong>{{ query }}</strong>.
{% else %}
	Listing <strong>{{ search_count }}</strong> result{{search_count|pluralize}}.
{% endif %}

</div>
{% for competition_result in sqs %}
	<li class = "competition-search-result">
	{% with competition_result.object as competition %}   
	    {% include "dooms/competitions/competition_preview.html" %}
	
        <span class="competition-search-interaction">
            <span class="competition-search-create-doom" id="competition_search_create_doom_{{competition.id}}">
                <a href="{% url dooms_general_create %}?competition={{competition.id}}">[create doom from this]</a>        
            </span>
            <span class="competition-search-find-doom" id="competition_search_find_doom_{{competition.id}}">
                <a href="javascript:void(0);" class="find-dooms-related-to-competition" value="{{competition.id}}">[find dooms about this]</a>
            </span>
        </span>        
    {% endwith %}
    </li>
{% endfor %}
{% endwith %}
</ul>
<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>