<script type="text/javascript">
	require(["jquery","competition_search"],function($,competition_search){
		$(document).ready(function(){
			$(".competition-search-result a").click(function(){
				$(document).trigger('close.facebox');
			});
			
		});
	});
</script>
{% load group_tags %}
<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>
{% with paginator_page.object_list as qs %}
<ul class="competition-search-results">
{% for competition in qs %}
	<li class = "competition-search-result">
	    {% include "dooms/competitions/competition_preview.html" %}
	
        <span class="competition-search-interaction">
            <span class="competition-search-create-doom" id="competition_search_create_doom_{{competition.id}}">
                <a href="{% url dooms_general_create %}?competition={{competition.id}}">[create doom from this]</a>        
            </span>
            <span class="competition-search-find-doom" id="competition_search_find_doom_{{competition.id}}">
                <a href="javascript:void(0);" class="find-dooms-related-to-competition" value="{{competition.id}}">[find dooms about this]</a>
            </span>
        </span>        

    </li>
{% endfor %}
</ul>
{% endwith %}
<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>