<script type="text/javascript">
	require(["jquery","competition_search"],function($,competition_search){
		$(document).ready(function(){
			$(".competition-search-results").on("click","a.add-competition-to-doom-create-form", function(){
				competition_search.add_competition_to_doom_create_form(parseInt($(this).attr("value")));
			});
			$("#doom_create_competition_search_results_header").on("click","a.hide-search-results-in-doom-create-page", function(){
				competition_search.hide_search_results_in_doom_create_page();
			});
		});
	});
</script>

<div id="doom_create_competition_search_results_header">
	Search results. Click on an item to add it to your doom. 
	<a href="javascript:void(0);" class="hide-search-results-in-doom-create-page">[close results]</a>
</div>

{% load group_tags %}
<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>
<ul class = "competition-search-results">
{% with paginator_page.object_list as sqs %}
{% for competition_result in sqs %}
	<li class = "competition-search-result">
	{% with competition_result.object as competition %}
		<a href="javascript:void(0);" value="{{competition.id}}" class="add-competition-to-doom-create-form">   
	    	{% include "dooms/competitions/competition_preview.html" %}
	    </a>   
    {% endwith %}
    </li>
{% endfor %}
{% endwith %}
</ul>
<div class="pagination">
    {% include "pagination_ajax.html" %}
</div>