{% load group_tags %}
{% if error %}
    Error retrieving competition.
{% else %}
    <div class="pagination">
        {% include "pagination_ajax.html" %}
    </div>
    <div class="search-title">	
		<strong>{{ search_count }}</strong> dooms are related to {{ competition }}.
	</div>
	    
    {% with paginator_page.object_list as dooms %}
    {% for doom in dooms %}
    <li> <span class="timeago" title='{{doom.modified|date:"c"}}'>{{ doom.modified|date:"<D d M Y, G:i:s>" }}</span>:
        <div class="doom-selling"> 
        {% ifequal doom.owner request.user %}
            <div class="doom-buybutton">            	
            On sale on my wall
            </div>
        {% else %}                
            <div class="doom-buybutton">
            <a href="{% groupurl dooms_buy group doomid=doom.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">buy</a>
            </div>
        {% endifequal %}
        {% with doom as object %}   
            {% include "dooms/doom_preview.html" %}
        {% endwith %}
        </div>
    </li>
    {% endfor %}
    {% endwith %}
    <div class="pagination">
        {% include "pagination_ajax.html" %}
    </div>
{% endif %}