{% load uni_form_tags %}

<form id="search_bar_competition_form" action="javascript:void(0);">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{search_bar_competition_form|as_uni_form}}
  </fieldset>
</form>

