<div class="doom-speech luthor-group">For {{group.name}}:<ul class="doom-speech luthor-group-list">{% for comparison in group.list %}    <li>    comparison.speech    </li>{% endfor %}</ul></div>