#latest-dooms-panel
{    
    width: 95%; 
    margin: auto;
    padding: 10px; 
    border:2px brown solid;
    overflow: auto;
    word-wrap: break-word;
}

#categories-panel
{    
  float: left; 
  width: 15%; 
  padding: 10px; 
  border:2px green solid;
  overflow: auto;
  margin: 5px;      
  word-wrap: break-word;    
}

#doom-categories-panel
{    
  float: left; 
  width: 70%; 
  padding: 10px; 
  border:2px gray solid;
  overflow: auto;
  margin: 5px;      
  word-wrap: break-word;
}

#categories-panel
{    
  float: left; 
  width: 15%; 
  padding: 10px; 
  border:2px green solid;
  overflow: auto;
  margin: 5px;      
  word-wrap: break-word;    
}

#doom-categories-panel
{    
  float: left; 
  width: 70%; 
  padding: 10px; 
  border:2px gray solid;
  overflow: auto;
  margin: 5px;      
  word-wrap: break-word;
}

#root-categories{
	margin-left: auto;
  	margin-right: auto;
  	width: 25%;
  	border:2px green solid;
  	padding: 15px;
}