.chatroom-user-talking{
    font-weight:bold;
    background-color: yellow;
}

#chatroom{
    min-height: 100%;
    max-height: 100%;
}

#chatroom-members{
    float: left;
    width: 20%;
}

#chatroom-window{
    min-height: 80%;
    max-height: 80%;
    border: 2px blue dotted;
    overflow: auto;
}

#chatroom-communication{
    float: right;
    width: 80%;
}
