ul.competition-categories{
	list-style: none;
	padding: 0;
	margin-left: 0;	
}

.competition-categories li .competition-category-title{
	text-align: center;
	border: 2px dashed;
}
ul.competition-list{
	list-style: none;
	padding: 5px;
	margin: 5px;	
	border: 2px solid;
}