@charset "utf-8";
/* CSS Document */
.Utility {
		color: yellow;
}	
.NodeName {
	font-weight:bold;
	color: #800080;	
}
.AttributeName 
{
	font-weight:bold;
	color: grey;
}
.AttributeValue
{
	color:blue;
}
.NodeValue
{
	color: green;
}
.Element {
	border-left-color:#00FF66;
	border-left-width:thin;
	border-left-style:solid;
	padding-top:0px;
	margin-top:10px;
}
.Clickable {	
	font-weight:900;
	font-size:large;
	color: #800080;	
	cursor:pointer;

	vertical-align:middle;
}
