.doom-selling
{  
  margin: 20px;
  padding: 10px; 
  border:2px cornflowerblue solid;
  overflow: auto;
  word-wrap: break-word;
  }
.doom-buying
{
  margin: 20px;
  padding: 10px; 
  border:2px black solid;
  overflow: auto;
  word-wrap: break-word;
}

.doom-buybutton
{    
    padding: 0px 20px 0px 20px;
    border:2px darkblue dotted;
    float: right;
}

.doom-ref{
	border:1px darkgreen dotted;
	float: right;
}

.doom-sellbutton
{    
    padding: 0px 20px 0px 20px;
    border:2px blue dotted;
    float: right;
}

#doom-winbutton{
    padding: 0px 20px 0px 20px;
    border:2px yellow dotted;
    float: right;
}

#doom-losebutton{
    padding: 0px 20px 0px 20px;
    border:2px gray dotted;
    float: right;
}

#doom-description
{    
    font-style:italic;
    color: blue;
    padding: 0px 20px 0px 20px;
    border:1px darkblue dotted;    
}

#prefered-dooms-panel
{    
    width: 95%; 
    margin: auto;
    padding: 10px; 
    border:2px pink solid;
    overflow: auto;
    word-wrap: break-word;
}

#wallpost-doom-details-contents{
    display: none;
}

#doom-details-contents{
    display: none;
}

#doom-details-header{
    padding-left: 15px;
}

.doom-buy-frontpage{
	text-decoration: none;
	color:inherit;
}

.doom-buy-frontpage .doom-preview{	
	border-bottom: 3px green dashed;
}