.mainpage-interaction-container{
	margin-left:auto;
	margin-right:auto;
	width: 30%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mainpage-allsales{
	float:left;
}

#mainpage-createdoom{
	float: right;
}

.mainpage-presentation-container{
	
}
	
#mainpage-text{
	float: left;
	border: aqua solid;
	width: 35%;	
	
}

#mainpage-video{
	float: right;
	width: 60%;	
	border: aqua solid;	
}

