.notification-body {
    display:block;
    border:2px black solid;
}

.notification-parent{    
	border:2px red solid;
}


.notification-header {    
    border:2px brown solid;   
    display:block;    
}
