html, body {
    background-color: black;
    color: green;
}
.title{
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif ;
    font-weight:bold;
    text-decoration:underline; 
    border-style:outset;
    border-width:5px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}
.section
{   
  margin: 5px;
  border:2px gray solid;
}

.competition-related{
	display:none;
}

.hidden-by-default{
	display:none;
}

ul.doom-properties li{
	display: inline;
	margin-left: 3px; 
	margin-right: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
	border:2px gray solid;
}