#profile-menu{
	z-index: 9999;
	position: absolute;
	min-width: 100px;
}

ul.user-list{
	list-style-type:none;	
}

ul.user-list li{
	float:left;	
	margin-left: 5px;
}

.user-list-title{
	float: left;
}

.user-list-content{
	float: left;
}

.visiting-profile-text{
	font-size: large;
	color: olive;
}

.visiting-profile-title{
	font-size: large;
	color: lime;
	text-decoration: underline;
}

#visiting-profile-body{
	margin: auto;
	width: 20%;
}