.transaction-content{
  float:left;
}
.transaction-canceled{
	text-decoration:line-through;
}

.transaction-pending{
	font-style:italic;
}


.transaction-credit
{  
  border:2px blue solid;    
  margin: 20px;
  padding: 10px;
  overflow: auto;
  word-wrap: break-word; 
}

.transaction-debit
{  
  border:2px red solid;   
  margin: 20px;
  padding: 10px;
  overflow: auto;
  word-wrap: break-word; 
}

.transaction-status
{
	border:2px orange dashed;
	float:right;
}

.bank-before-doom-statement{
	text-decoration: underline;
	font-size: large;
	font-weight: bold;
	padding-top: 10px;
}
