#selling-panel
{
  width: 95%; 
  margin: auto;
  padding: 10px; 
  border:2px green solid;
  overflow: auto;
  word-wrap: break-word;
}

#winning-panel{
	display: none;
	width: 95%; 
	margin: auto;
	padding: 10px; 
	border:2px green solid;
	overflow: auto;
	word-wrap: break-word;
}

#selling-panel-controls{
  width: 95%; 
  margin: auto;
  padding-left: 10px; 
  padding-right: 10px;
  border:2px green solid;
  overflow: hidden;
  word-wrap: break-word;
}

.left-panel{
	float: left;
}

.news
{  
  margin: 20px;
  padding: 10px; 
  border:2px green solid;
  overflow: auto;
  word-wrap: break-word;  
}

.wall-user-interaction
{  
  float:left;    
}

.wall-wallpost-time
{  
  float:right;      
  border:1px red dashed;
}



.doom-winner{
  margin: 20px;
  padding: 10px; 
  border:2px yellow solid;
  overflow: auto;
  word-wrap: break-word;
}

.write-on-wall-form{
	float: left;
	width: 90%;
	list-style-type: none;
	
}

.write-on-wall-text{
	height: 30pt;
	width: 90%;	
	font-size: 20pt;
}

.write-on-wall-button{
	float: left;
	height: 30pt;	
}

.write-on-wall-form-parent{
	padding-top: 20px;
	padding-bottom: 20px;	
}