<script type="text/x-jqote-template" id="notification_embedder_page">
<![CDATA[
<li><span class="timeago" title='<%var now = require("init_js_common_functions_static").ISODateString(new Date());%><%=now%>'><%=now%>:</span>
    <%= this.content %>
</li>
]]>
</script>

<script type="text/x-jqote-template" id="no_notifications_menu">
<![CDATA[
<li class="douaccordeon-parent no-notifications">
    <div class="douaccordeon-header">        
        <span class="douaccordeon-summary">
            No notifications
        </span>
        <div class="clear"></div>        
    </div>
</li>
]]>
</script>

<script type="text/x-jqote-template" id="see_all_notifications_menu">
<![CDATA[
<li class="douaccordeon-parent">
    <div class="douaccordeon-header">        
        <span class="douaccordeon-summary">
            <a href="<%var url = require('urls').resolve('interactive_notifications');%><%=url%>">See all.</a>
        </span>
        <div class="clear"></div>        
    </div>
</li>
]]>
</script>

<script type="text/x-jqote-template" id="see_notificationpage_menu">
<![CDATA[
<li class="douaccordeon-parent">
    <div class="douaccordeon-header">        
        <span class="douaccordeon-summary">
            <a href="<%var url = require('urls').resolve('interactive_notifications');%><%=url%>">notification page.</a>
        </span>
        <div class="clear"></div>        
    </div>
</li>
]]>
</script>

<script type="text/x-jqote-template" id="no_notifications_page">
<![CDATA[
<div class="no-notifications">
	No notifications.
</div>
]]>
</script>

<script type="text/x-jqote-template" id="loading_notifications_page">
<![CDATA[
<div class="loading-notifications">
	Loading...
</div>
]]>
</script>


<script type="text/x-jqote-template" id="accordeon_simple_summary">
<![CDATA[
<li class="douaccordeon-parent">
    <div class="douaccordeon-header">        
        <span class="douaccordeon-summary">
            <%=this.content%>
        </span>
        <div class="clear"></div>        
    </div>
</li>
]]>
</script>

<script type="text/x-jqote-template" id="system_notice_notification_menu">
<![CDATA[
<li class="douaccordeon-parent">    
    <div class="douaccordeon-header">
        <span class="douaccordeon-title">
            <% if( this.type == 0){ %>
            Information from site! 
            <% }else if( this.type == 1){ %>
            Warning!
            <% }else if( this.type == 2){ %>
            An error has occured!!!
            <% } %>
        </span>
        <div class="clear"></div> 
    </div>
    <div class="douaccordeon-body ">        
        <%= this.content %>                
    </div>
</li>
]]>
</script>

<script type="text/x-jqote-template" id="system_notice_notification_page">
<![CDATA[
<div class="notification-parent w-messagetransactionwallpost">    
    <div class="notification-header">
        <% if( this.type == 0){ %>
        Information from site! 
        <% }else if( this.type == 1){ %>
        Warning!
        <% }else if( this.type == 2){ %>
        An error has occured!!!
        <% } %>
    </div>
    <div class="notification-body">
        <%= this.content %>
    </div>
</div>
]]>
</script>


{% include "interactive_friends/js.html" %}
{% include "wall/notifications/js.html" %}
{% include "dooms/notifications/js.html" %}