{% extends "site_base.html" %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/notification.css" />
	
    <script type="text/javascript">
    require(["page_state"], function(page_state) {
    	{% if paginator_page.has_previous %}
        {% else %}
        page_state.interactive_notifications.verbose = true;
        {% endif %}

    });    
    </script>
    {% include "interactive_notification/js.html" %}
 {% endblock %}
 
 {% block work_panel %}
 	<div class="pagination">
	    {% include "pagination.html" %}
	</div>
 	{% with paginator_page.object_list as interactive_notifications_list %}
		{% if interactive_notifications_list %}		
		  {% regroup interactive_notifications_list by moment as date_list %}
	      <ul id="notifications-page">
		  {% for date in date_list %}
	        <li><span class="timeago" title='{{date.grouper|date:"c"}}'>{{date.grouper}}:</span>
		    {% for item in date.list %}
		      {% with item.content_object as object %}
		        {% if item.visibe %}
		            {% include "interactive_notification/type_representations.html" %}
		        {% endif %}
		      {% endwith %}
		    {% endfor %}
	        </li>
		  {% endfor %}
	    </ul>
		{% else %}
	    <ul id="notifications-page"></ul>
		<div class="no-notifications">
		No notifications.
		</div>
		{% endif %}
	{% endwith %}

 	<div class="pagination">
	    {% include "pagination.html" %}
	</div>
{% endblock %}

