<li class="douaccordeon-parent">	
<div class="douaccordeon-header">        
	<span class="douaccordeon-title">
			Here will be your notifications
		</span>
	<span class="douaccordeon-summary">
		<a href="javascript:void(0);">[some]<a/>
		<a href="javascript:void(0);">[action]<a/>
	</span>
	<div class="clear"></div>        
</div>
<div class="douaccordeon-body">	
Description of the notification.
<ul>
	<li><a href="javascript:void(0);">Ineraction</a></li>
	<li><a href="javascript:void(0);">Ineraction</a></li>
	<li><a href="javascript:void(0);">Ineraction</a></li>
</ul>
</div>
</li>

<li class="douaccordeon-parent">	
<div class="douaccordeon-header">        
	<span class="douaccordeon-title">
			Here will be your notifications
		</span>
	<span class="douaccordeon-summary">
		<a href="javascript:void(0);">[some]<a/>
		<a href="javascript:void(0);">[action]<a/>
	</span>
	<div class="clear"></div>        
</div>
<div class="douaccordeon-body">	
Description of the notification.
<ul>
	<li><a href="javascript:void(0);">Ineraction</a></li>
	<li><a href="javascript:void(0);">Ineraction</a></li>
	<li><a href="javascript:void(0);">Ineraction</a></li>
</ul>
</div>
</li>

<li class="douaccordeon-parent">	
<div class="douaccordeon-header">        
	<span class="douaccordeon-title">
			Here will be your notifications
		</span>
	<span class="douaccordeon-summary">
		<a href="javascript:void(0);">[some]<a/>
		<a href="javascript:void(0);">[action]<a/>
	</span>
	<div class="clear"></div>        
</div>
<div class="douaccordeon-body">	
Description of the notification.
<ul>
	<li><a href="javascript:void(0);">Ineraction</a></li>
	<li><a href="javascript:void(0);">Ineraction</a></li>
	<li><a href="javascript:void(0);">Ineraction</a></li>
</ul>
</div>
</li>