<div class="notification-parent">
    <div class="notification-header"> 
        <span class="douaccordeon-title">
        {% ifequal object.type 0 %}
		Information from site! 
        {%endifequal%}
        {% ifequal object.type 1 %}
		Warning!
        {%endifequal%}
        {% ifequal object.type 2 %}
		An error has occured!!!
        {%endifequal%}     
        </span>
        <div class="clear"></div>
    </div>
    <div class="notification-body">        
        <span class="object_message">{{ object.content|safe }}</span>
    </div>
</div>
