<script type="text/x-jqote-template" id="select_payment_service_config_failed">
<![CDATA[
Could not fetch configuration for this payment service.
]]>
</script>

<script type="text/x-jqote-template" id="transaction_complete_redirect">
<![CDATA[
Your transaction has succeeded! You will be redirected...
]]>
</script>

<script type="text/x-jqote-template" id="transaction_redirect">
<![CDATA[
Redirecting...
]]>
</script>

<script type="text/x-jqote-template" id="transaction_wait">
<![CDATA[
Please wait...
]]>
</script>

<script type="text/x-jqote-template" id="transaction_failed_insufficient_funds_redirect">
<![CDATA[
<p>
You don't have <%=this.transaction.amout%> credits in your account. Therefore, the system cannot allow you to retrieve that amount.
</p>
<p>
If you think this is an error, please retry later.
</p>
<p>
Redirecting to previous page(<a href="<%=this.transaction.redirect_url%>"><%=this.transaction.redirect_url%></a>)...
</p>
]]>
</script>