{% extends "site_base.html" %}

{% block extra_head %}

<script type="text/javascript">
require(["payment_service_form",
         "payment_service_select_form"],
         function(){});
</script>
{% include "payment_services/js.html" %}
{% endblock %}


{% block work_panel %}

<p>
Please select your payment service:
</p>
<form id="payment-service-select-form" class="payment-service-form" action="{% url payments_json_pay transactionid=transaction.id %}" method="POST">
	{% csrf_token %}
	<ul>
	{{form.as_ul}}
	</ul>
	<div id="payment-service-config-form">
	</div>
	<input type="submit" name="select_and_update_payment_service_details" value="add service" />
</form>
{% endblock %}