{% extends "site_base.html" %}

{% block extra_head %}
<script type="text/javascript">
require(["payment_service_form"],function(){});
</script>
{% include "payment_services/js.html" %}
{% endblock %}

{% block work_panel %}

<p>
Please select your payment service:
</p>
<form id="payment-service-select-form" class="payment-service-form" action="{% url payments_json_pay transactionid=transaction.id %}" method="POST">
	{% csrf_token %}
	<ul>
	{{form.as_ul}}
    <li><input type="submit" name="select_and_update_payment_service_details" value="select service" /></li>
	</ul>
</form>

{% endblock %}