{% block common_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/competitions/common.css" />
	{% block common_css_extra %}
	
	{% endblock %}	
{% endblock %}

{% block common_js %}
<script type="text/javascript">

	{% block common_js_extra %}	
	{% endblock %}

</script>
{% endblock %}

<script type="text/x-jqote-template" id="{% block common_help_template_id %}{% endblock %}">
<![CDATA[
{% block common_help_template %}
{% endblock %}
]]>
</script>

<div id="competition-content">

<strong>
{% block common_competition_title %}
{% endblock %}
</strong><br/>

{% block common_competition_content %}
<div id="accordion_{{id_master}}" class="jqui-accordion">
{% block common_competition_accordion %}
{% endblock %}
</div>
{% endblock %}
</div>