{% load types %}

<span id="{{competition.id_string}}" class="id_string">{{ competition }} [{{competition.id_string}}]</span>

<div class="competition-description" id="{{competition.id_string}}-competition-description">
{% with competition.id_string as id_master %}
    {% ifequal competition.competition_object|type "SoccerCompetition" %}
        {% with competition.competition_object as competition %}
            {% include "dooms/competitions/soccer/soccer_competition_configure.html" %}
        {% endwith %}
    {% endifequal %}

    {% ifequal competition.competition_object|type "TennisCompetition" %}
        {% with competition.competition_object as competition %}
            {% include "dooms/competitions/tennis/tennis_competition_configure.html" %}
        {% endwith %}
    {% endifequal %}
{% endwith %}
</div>
