<div class="luthor">
    <div class="luthor-master-node">        
        <div class="luthor-node-speech">
            {{master_node.speech|safe}}
        </div>
    </div>
    
    {% if slave_nodes %}
    <div class="luthor-logic-linker">
    {% ifequal master_node.type "AND" %}
        ...AND...
    {% endifequal %}

    {% ifequal master_node.type "OR" %}
        ...OR...
    {% endifequal %}
    </div>
    <div class="luthor-slave-nodes">
        {% for node in slave_nodes %}
            <div class="luthor-node-speech">
                {{node.speech|safe}}
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>