{% ifequal node.type "AND" %}
    All of the following statements must be true:
{% endifequal %}

{% ifequal node.type "OR" %}
    One of the following statements must be true:
{% endifequal %}
<ul class="luthor-groups">
{% for group in groups %}
    <li class="group-element">
    {{group|safe}}
    </li>
{% endfor %}
</ul>