<strong>Latest competitions:</strong>
    
<ul class="competition-categories">
    {% for comp_list_dict in comp_lists %}    
	    {% for comp_list_cat,comp_list in comp_list_dict.items %}
	    	<li>
	        	<h3 class="competition-category-title">== {{comp_list_cat}} ==</h3>            
				<ul class="competition-list">
		        	{% for comp in comp_list %}
		        		{% with comp as competition %}
			            <li class = "competition-preview"> 
						    <a href = "{% url dooms_general_create %}?competition={{competition.id}}">{% include "dooms/competitions/competition_preview.html" %}</a>
						    <span class="competition-search-interaction">
						        <span class="competition-search-create-doom" id="competition_search_create_doom_{{competition.id}}">
						            <a href="{% url dooms_general_create %}?competition={{competition.id}}">[create]</a>        
						        </span>
						        <span class="competition-search-find-doom" id="competition_search_find_doom_{{competition.id}}">
						            <a href="javascript:void(0);" class="find-dooms-related-to-competition" value="{{competition.id}}">[find]</a>
						        </span>
						    </span> 
						</li>
						{% endwith%}
		        	{% endfor%}
		        </ul>
		    </li>
    	{% endfor%}
	{% endfor%}
</ul>    
