{% extends "site_base.html" %}

{% load i18n %}
{% block work_panel %}
  <ul id="tabnav">
    <li class="active"><a href="wall">News/Achats/Ventes</a></li>
    <li><a href="infos">infos</a></li>
  </ul>
{% endblock %}


