{% extends "profiles/base.html" %}

{% load i18n %}

{% load avatar_tags %}
{% load uni_form_tags %}
{% load group_tags %}

{% block head_title %}Profile for {{ other_user }}{% endblock %}

{% block work_panel %}
  <ul id="tabnav">
    <li><a href="{% groupurl wall_detail group username=other_user.username %}">News - Buying - Selling</a></li>
    <li class="active"><a href="{% url profile_detail other_user %}">infos</a></li>
  </ul>

       
        <div class="vcard">
            
            {% if other_user.get_profile.name %}
                <h1>{% blocktrans %}Profile for <span class="nickname">{{ other_user }}</span>{% endblocktrans %}</h1>
            {% else %}
                <h1>{% blocktrans %}Profile for <span class="fn nickname">{{ other_user }}</span>{% endblocktrans %}</h1>
            {% endif %}
            
            {% if is_me and other_user.get_profile.interface.visibility.profile_general != 5 or other_user.get_profile.interface.visibility.profile_general == 0 or other_user.get_profile.interface.visibility.profile_general == 1 and is_friend %} 
                <div class="profile_info">                
                    {% if other_user.get_profile.first_name %}<p><b>{% trans "First name" %}</b>: <span class="fn">{{ other_user.get_profile.first_name }}</span></p>{% endif %}
                    {% if other_user.get_profile.last_name %}<p><b>{% trans "Last name" %}</b>: {{ other_user.get_profile.last_name }}</p>{% endif %}
                    {% if other_user.get_profile.nickname%}<p><b>{% trans "Nickname" %}</b>: {{ other_user.get_profile.nickname }}</p>{% endif %}
                    {% if other_user.get_profile.age %}<p><b>{% trans "Age" %}</b>: {{ other_user.get_profile.age }}</p>{% endif %}
                    {% if other_user.get_profile.gender %}<p><b>{% trans "Gender" %}</b>: <span class="fn">{{ other_user.get_profile.gender }}</span></p>{% endif %}
                    {% if other_user.get_profile.city %}<p><b>{% trans "City" %}</b>: {{ other_user.get_profile.city }}</p>{% endif %}                
                    {% if other_user.get_profile.hobbies %}<p><b>{% trans "hobbies" %}</b>: 
                        {% for hobby in other_user.get_profile.hobbies.all %}
                            <li>{{ hobby.name }}</li>
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>
             {% endif %}
            
            {% if user.is_authenticated %}
                {% if is_me %}
                {% else %}
                    
                    
                    {# @@@ this should be an inclusion tag #}
                    {% if is_friend %}
                        
                        <p>{% blocktrans %}You are friends with {{ other_user }}.{% endblocktrans %}</p>            

                    {% endif %} {# is_friend #}
                    
                {% endif %} {# is me #}
               
                
            {% else %} {# not user.is_authenticated #}
                {% url acct_signup as signup_url %}
                {% url acct_login as login_url %}
                <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to add this person as a friend and see their tweets and blog posts.{% endblocktrans %}</p>
            {% endif %}
        </div><!--/vcard-->
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    require(["avatar"],function(){});
    </script>
{% endblock %}
