{% load avatar_tags %}

{% if random_profiles %}
	<span class="user-list-title">
    	<a href="{% url profile_list %}">Browse profiles</a>:
    </span>
    <span class="user-list-content">
	    <ul class="user-list">
	      {% for user in random_profiles %}
	      	<li>
			  <span class="avatar">{% avatar user 20 %}</span>
			  <span class="user-list-name"><a href="{% url wall_detail user.username %}" title="{{ user.username }}">{{ user }}</a></span>
			</li>
	      {% endfor %}
	    </ul>	   
	</span>
  {% else %}
    Profile list
{% endif %}
  