{% load avatar_tags %}

{% if request.user.is_authenticated %}
<div id="visiting-profile-panel">
	<div class="visiting-profile-body">
		<span class="visiting-profile-title">
		INFO:
		</span>
		<span class="visiting-profile-text">
		{% if other_user %}
			{% if other_user == request.user %}
				You are visiting your own profile
			{% else %}
				You are visiting 
				<span class="avatar">{% avatar other_user 32 %}</span>
				{{other_user}}'s page. 
			{% endif %}	
		
		{% endif %}
		</span>
	</div>
</div>
{% endif %}