<script type="text/x-jqote-template" id="messagetransactionwallpost_page">
<![CDATA[
    <div class="notification-parent w-messagetransactionwallpost">    
        <div class="notification-header">
            <%=this.transaction.doom.owner %> bought your doom:
        </div>
        <div class="notification-body">
            <div id="doom_preview_<%= this.transaction.doom.id %>" class="doom-preview-to-load" value="<%= this.transaction.doom.id %>">	
			</div>
            <ul>
                <li><a href="<% var url=require('urls').resolve("wall",{"username":this.transaction.doom.owner}); %><%=url%>">see <%=this.transaction.doom.owner %>'s wall</a></li>
			<li><a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">see my bank account</a></li>
            </ul>
        </div>
    </div>
]]>
</script>
<script type="text/x-jqote-template" id="messagetransactionwallpost_menu">
<![CDATA[
<li class="douaccordeon-parent if-invitation-item">    
    <div class="douaccordeon-header">
        <span class="douaccordeon-title">
            <%=this.transaction.user_paying %> bought your doom <%=this.transaction.doom.signature%>!
        </span>
        <span class="douaccordeon-summary">
            see            
            <a href="<% var url=require('urls').resolve("wall",{"username":this.transaction.user_paying}); %><%=url%>">[<%=this.transaction.user_paying %>]</a>
			<a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">[bank]</a>
		</span>
        <div class="clear"></div> 
    </div>
    <div class="douaccordeon-body">
        <%=this.transaction.user_paying %> bought your doom <%=this.transaction.doom.signature%> for <%=this.transaction.amount %>.
        <br/>
        Doom's description: <%=this.transaction.doom.description%>
        <ul>
            <li><a href="<% var url=require('urls').resolve("wall",{"username":this.transaction.user_paying}); %><%=url%>">see <%=this.transaction.user_paying %>'s wall</a></li>
			<li><a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">see my bank account</a></li>
        </ul>
    </div>
</li>

]]>
</script>

<script type="text/x-jqote-template" id="message_page">
<![CDATA[
<div class="notification-parent w-message">    
    <div class="notification-header">
        <%= this.writer %> wrote on your wall:
    </div>
    <div class="notification-body">
        <%= this.message %>
        <ul>
            <li><a href="<% var url=require('urls').resolve("wall",{"username":this.writer}); %><%=url%>">see <%= this.writer %>'s wall</a></li>
            <li><a href="<% var url=require('urls').resolve("wall",{"username":django_username}); %><%=url%>">go to my wall</a></li>
        </ul>
    </div>
</div>
]]>
</script>

<script type="text/x-jqote-template" id="message_menu">
<![CDATA[
<li class="douaccordeon-parent w-message">    
    <div class="douaccordeon-header">
        <span class="douaccordeon-title">
            <%= this.writer %> wrote on your wall.
        </span>
        <span class="douaccordeon-summary">                       
            <a href="<% var url=require('urls').resolve("wall",{"username":django_username}); %><%=url%>">[my wall]</a>
            <a href="<% var url=require('urls').resolve("wall",{"username":this.writer}); %><%=url%>">[<%= this.writer %>'wall]</a>
		</span>
        <div class="clear"></div> 
    </div>
    <div class="douaccordeon-body">
        <%= this.content_object.message %>
        <ul>
            <li><a href="<% var url=require('urls').resolve("wall",{"username":django_username}); %><%=url%>">go to my wall</a></li>
            <li><a href="<% var url=require('urls').resolve("wall",{"username":this.writer}); %><%=url%>">see <%= this.writer %>'s wall</a></li>            
        </ul>
    </div>
</li>

]]>
</script>

