{% ifequal object.content_type.model "messagetransactionwallpost" %}
{% with object.content_object as object %}
    <div class="notification-parent w-messagetransactionwallpost">    
        <div class="notification-header">
            {{object.transaction.user_paying }} bought your doom:
        </div>
        <div class="notification-body">
            {% with object.transaction.doom as object %}
                {% include "dooms/doom_preview.html" %}
            {% endwith %}
            <ul>
                <li><a href="{% url wall_detail username=object.transaction.user_paying %}">see {{object.transaction.user_paying }}'s wall</a></li>
                <li><a href="{% url bank_account %}">see my bank account</a></li>
            </ul>
        </div>
    </div>
{% endwith %}
{% endifequal %}

{% ifequal object.content_type.model "message" %}
    <div class="notification-parent w-message">    
        <div class="notification-header">
            {{ object.writer }} wrote on your wall:
        </div>
        <div class="notification-body">
            {{ object.content_object.message }}
            <ul>
                <li><a href="{% url wall_detail username=object.writer %}">see {{ object.writer }}'s wall</a></li>
                <li><a href="{% url wall_detail username=request.user %}">go to my wall</a></li>
            </ul>
        </div>
    </div>
{% endifequal %}