{% extends "site_base.html" %}

{% block extra_head %}
<script type="text/javascript">
require(["bank"],function(){
	require(["bank_help"]);
});
</script>
{% endblock %}

{% block work_panel %}
<ul id="bank-transactions">
{% for transaction in transactions %}
	<li> {{transaction.datetime|date:"D d M Y, G:i:s"}}		

    <div class={% ifequal transaction.user_paid user %} "transaction-credit"{% endifequal %}{% ifequal transaction.user_paying user %}"transaction-debit"{% endifequal %}>
        <div class="transaction-content{% if transaction.is_fail %} transaction-canceled{% else %}{% if transaction.is_success %}{% else %} transaction-pending{% endif %}{% endif %}">
        {% ifequal transaction.user_paying void %}
        Adding {{ transaction.amount }} credits to your account
        {% else %}
            {% ifequal transaction.user_paid void %}
            Retrieving {{ transaction.amount }} credits from your account
            {% else %}
                {% ifequal transaction.user_paid request.user %}
                    Getting {{ transaction.amount }} credits from <a href={% url wall_detail transaction.user_paying %}>{{ transaction.user_paying }} </a> 
                {% else %}                    
                    Transfering {{ transaction.amount }} credits to <a href={% url wall_detail transaction.user_paying %}>{{ transaction.user_paid }} </a> 
                {% endifequal %}
            {% endifequal %}
        {% endifequal %}
        </div>
        {% if transaction.is_fail %}
        <div class="transaction-status">		   		
            Canceled		   		
        </div>
        {% else %}
            {% if transaction.is_success %}
            {% else %}
            <div class="transaction-status">
            Pending({{transaction.get_status_display}}))
            </div>
            {% endif %}
        {% endif %}
    {% if transaction.doom %}
    <span id="doom-details-header">
   	<a href="javascript:void(0);" class="">see doom</a>
   	</span>
   	<div id="doom-details-contents">
   	<p class="bank-before-doom-statement">
   	The transaction refers to the following doom: 
   	</p>
   	{% with transaction.doom as object %}
   		{% include "dooms/doom_preview.html" %}
   	{% endwith %}
   	</div>
   	</span>
    {% endif %}
    </div>
    
	</li>
{% endfor %}
</ul>
<div id="credit-operations">
	<p>
	Funds remaining: {{ money_remaining }} 
	</p>
	<p>
	Funds guaranteed: {{ money_guarantee }}
	</p>	
	<a href="{% url bank_add_funds %}" rel="facebox">add funds</a>
    <br/>
    <a href="{% url bank_retrieve_funds %}" rel="facebox">retrieve funds</a>
</div>
{% endblock %}
