{% load uni_form_tags %}

<form class="uniForm" method="POST" action="{% url bank_retrieve_funds %}">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ retrieve_funds_form|as_uni_form }}
    <div class="form_block">
      <input type="submit" value="retrieve funds" /> 

    </div>    
  </fieldset>
</form>
