<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/pilot.css" type="text/css" />
<title>
Pilot
</title>
</head>
<body>
<p class="title">
Welcome to the FUCKINGLY AWSOME control panel!
</p>
<div class="section">
<strong>XMPP:</strong>
<p>
{% include "pilot/xmpp.html" %}
</p>
</form>
</div>
</body>
</html>