{% load dajaxice_templatetags %}

<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/pilot.css" type="text/css" />
<script src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pilot/dooms.js"></script>
{% dajaxice_js_import %}
<title>
Pilot
</title>
</head>
<body>
<p class="title">
Welcome to the FUCKINGLY AWESOME control panel!
</p>
<form action="{% url pilot_competitions %}" method="POST">
<ul>
{% csrf_token %}
{% for competition in competitions %}
<li>
{% with competition.object as competition %}
{% include "dooms/competitions/competition_preview.html" %}
{% endwith %}
<ul>
{{competition.form.as_ul}}
</ul>
<p>
<a href='javascript:related_dooms({{competition.object.id}},"#competition_{{competition.object.id}}");'>Related dooms</a>
</p>
<p id="competition_{{competition.object.id}}" class="competition-related">
</p>
</li>
{% endfor %}
<input type="submit" value="submit"/>
</ul>
</form>

</body>
</html>