<ul class="doom-properties">
<li>
{% if object.is_active %}
ACTIVE
{% else %}
INACTIVE
{% endif %}
</li>
<li>
{% if object.on_sale %}
ON SALE
{% else %}
NOT ON SALE
{% endif %}
</li>
<li>
{{ object.get_status_display|upper }}
</li>
</ul>

{% for competition in object.competition_set.all %} 
    {{ competition }}
    {% if forloop.revcounter0 > 0 %}, {% endif %}
{% endfor %}
<br>
<strong>Price:</strong>{{object.price}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Potential win:</strong> {{object.potential_win}}<br>

<div id="doom-description">
{{ object.description }}
</div>

