<form id="missing-nodes-form" method="POST" action="/pilot/pubsub_nodes/missing_nodes">
{% csrf_token %}
<p>
The following nodes are missing:
</p>
<ul>
{{frm.as_ul}}
</ul>
<input type="submit" value="create nodes"/>
<input type="button" name="CheckAll" value="Select all" onClick="javascript:checkAll('#missing-nodes-form');">
<input type="button" name="UnCheckAll" value="Deselect All" onClick="javascript:uncheckAll('#missing-nodes-form');">
</form>