{% load dajaxice_templatetags %}

<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/pilot.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/displayXML.css" type="text/css" />
<link href="{{ STATIC_URL }}js/jsoneditor/jsoneditor/jquery.json-editor.css" rel="stylesheet" type="text/css" />

<script src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>


<script type="text/javascript" src="{{ STATIC_URL }}js/jsoneditor/jsoneditor/jquery.json-editor.js"></script>

<script src="{{ STATIC_URL }}js/displayXML.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/pilot/pubsub_nodes.js"></script>
    
<script type="text/javascript">
$(document).ready(function(){
	LoadXMLString('nodeconfig','{{node_config|safe}}');
    JSONEditor.prototype.ADD_IMG = '{{ STATIC_URL }}js/jsoneditor/jsoneditor/add.png';
    JSONEditor.prototype.DELETE_IMG = '{{ STATIC_URL }}js/jsoneditor/jsoneditor/delete.png';
    var j = new JSONEditor($("#publishtext"), 400, 400);
    j.doTruncation(true);
    j.showFunctionButtons();
	
});
</script>
{% dajaxice_js_import %}
<title>
Pilot
</title>
</head>
<body>
<p class="title">
Welcome to the FUCKINGLY AWESOME control panel!
</p>
<p>
The following nodes exist on the server:
</p>
<form id="delete-nodes-form" method="POST" action="/pilot/pubsub_nodes/delete_nodes">
{% csrf_token %}
<ul id="list-nodes">
{% for hidden in frm_nodes.hidden_fields %}
{{ hidden }}
{% endfor %}
{% for field in frm_nodes.visible_fields %}
<li>
<a href='javascript:subscriber_list_for_node("{{ field.label }}","#subs{{forloop.counter}}");'>[+]</a>{{ field.label_tag }}:{{ field }}
<div id="subs{{forloop.counter}}" class="hidden-by-default">
</div>
</li>
{% endfor %}
</ul>
<input type="submit" value="delete nodes"/>
<input type="button" name="CheckAll" value="Select all" onClick="javascript:checkAll('#delete-nodes-form');">
<input type="button" name="UnCheckAll" value="Deselect All" onClick="javascript:uncheckAll('#delete-nodes-form');">
</form>
<a href="javascript:check_missing_nodes();">
Check for missing nodes
</a>
<ul id="missing-nodes">

</ul>
<p>
Create a node:
</p>
<form id="op-node-form" method="POST" action="/pilot/pubsub_nodes/op_node">
{% csrf_token %}
<ul>
{{frm_op_node.as_ul}}
</ul>
<input type="submit" name="create" value="create"/>
<input type="submit" name="delete" value="delete"/>
</form>
<p>
Publish something on a node: <input type="text" id="nodename" value="/everyone"></input>
</p>
<textarea id="publishtext">
{
  "content": "hey",
  "type": 17,
  "user": "mordor"
}
</textarea>
<h2>
<a href="javascript:publish_to_node('#nodename','#publishtext','nodepublishreply');">publish</a>
</h2>
<div id="nodepublishreply">

</div>

<p>
General subscription info for nodes:
</p>
<div id="nodeconfig">

</div>
</body>


</html>