<ul>
<li>attributes:
<form method="POST" action="{% url pilot_home %}">
<ul>
<p>
{{xmpp_attributes_form.as_ul}}
<INPUT TYPE="submit" VALUE="change"/>
</ul>
</p>
</li>
<li>connection:
<p>
Connected: {{connected}}<br/>
new xmpp link:
<form method="POST" action="{% url pilot_home %}">
<ul>
{% csrf_token %}
{{xmpp_connect_form.as_ul}}
<INPUT TYPE="submit" VALUE="connect"/>
</p>
</li>
</ul>
</ul>