{% load i18n %}
{% if bootstrap %}{% include "ajax_select/bootstrap.html" %}{% endif %}
<div id="{{html_id}}">
	<script type="text/x-jqote-template" id="autocomplete_template">
<li class="competition-item" id="<%= this.pk %>">
<a href="javascript:void(0);" value="<%= this.pk %>" class="autocomplete-item-kill">[X]</a>

<div class="autocomplete-item-content">
<%= this.content %>
</div>
</li>
	</script>
	<input type="text" name="{{name}}_text" id="{{html_id}}_text" value="" {{ extra_attrs }} />
	<input type="hidden" name="{{name}}" id="{{html_id}}_hidden" value="{{current_ids}}" />
	<ul id="{{html_id}}_on_deck" class="results_on_deck inline-related"></ul>
</div>

<script type="text/javascript">//<![CDATA[
require(["jquery","competition_configure/config","jqote2/jquery.jqote2.min","loaders/autocomplete","ajax_select/ajax_select"],function($,config){
	$(document).ready(function($){
		$("#{{html_id}}").autocompleteselectmultiple({
			minLength: {{min_length}},
			source: 
            {% if "page" in html_id %}
                '{{lookup_url}}?page=1'
            {% else %}
                '{{lookup_url}}?page=0'
            {% endif %}
            ,
			initial: {{current_reprs}},
			deck:"#{{html_id}}_on_deck",
			list_field:"#{{html_id}}_hidden"
		});
		
		$("#{{html_id}}").on("autocomplete_element_removed",function(event,id){			
			{% if "page" in html_id %}
				config.competitions_page.remove(id);
	        {% else %}
	        	config.competitions_menu.remove(id);
	        {% endif %}			
		});
	    
	{% block extra_script %}{% endblock %}
	});
});
//]]>
</script>
{{ inline }}