{% load i18n %}
{% if bootstrap %}{% include "ajax_select/bootstrap.html" %}{% endif %}
<div id="{{ html_id }}">
	<script type="text/x-jqote-template" id="autocomplete_template">
<li class="doom-item" id="<%= this.pk %>">
<a href="javascript:void(0);" value="<%= this.pk %>" class="autocomplete-item-kill">[X]</a>

<div class="autocomplete-item-content">
<%= this.content %>
</div>
</li>
	</script>
	
<input type="text" name="{{name}}_text" id="{{html_id}}_text" value="" {{ extra_attrs }} />
<input type="hidden" name="{{name}}" id="{{html_id}}" value="{{current_id}}" />
<div id="{{html_id}}_on_deck" class="results_on_deck"><div>{{current_result|safe}}</div></div>
</div>
<script type="text/javascript">//<![CDATA[
require(["jquery","loaders/autocomplete","ajax_select/ajax_select"],function($){
	$(document).ready(function($){
		$("#{{ html_id }}").autocompleteselect({
			minLength: {{min_length}},
			source: '{{lookup_url}}',
			initial:  '{{current_repr}}',
			deck : "#{{html_id}}_on_deck"
		});

	{% block extra_script %}{% endblock %}
	});//]]>
});
</script>
{{ inline }}