<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base/base.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base/layout.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base/layout_detail.css" />

        <link rel="stylesheet" href="{{ STATIC_URL }}css/chat.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/dooms.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/competitions.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/notification.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/search.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/transactionbutton.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/transactions.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/wall.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/categories.css" />
         
        <link rel="stylesheet" href="{{ STATIC_URL }}css/tabs.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/doumebutton/button.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}js/facebox/src/facebox.css" />        
        <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" />
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/profile.css" />
        
        <link type="text/css" href="{{ STATIC_URL }}js/jquery-ui/themes/base/jquery.ui.base.css" rel="stylesheet" />
        <link type="text/css" href="{{ STATIC_URL }}js/jquery-ui/themes/base/jquery.ui.theme.css" rel="stylesheet" />
        <link type="text/css" href="{{ STATIC_URL }}js/jquery-ui/themes/base/jquery.ui.selectable.css" rel="stylesheet" />
        <link type="text/css" href="{{ STATIC_URL }}js/jquery-ui/themes/base/jquery.ui.resizable.css" rel="stylesheet" />        
        <link type="text/css" href="{{ STATIC_URL }}js/jquery-ui/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
        <link type="text/css" href="{{ STATIC_URL }}js/jquery-ui/themes/base/jquery.ui.menu.css" rel="stylesheet" />
        
        
        <link rel="stylesheet" href="{{ STATIC_URL }}js/douwigets/doumenu/menu.css" type="text/css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}js/douwigets/douaccordeon/accordeon.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}js/badger/badger.css" type="text/css" />
        
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/ajax_select/ajax_select.css"/>
        
        
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/qTip2/dist/jquery.qtip.min.css" />
        
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/graphics.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/header/backgrounds.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/header/buttons.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/footer/buttons.css"/>
        
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/leftside/backgrounds.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/rightside/backgrounds.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/footer/backgrounds.css"/>
        
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/dooms/backgrounds.css"/>
        
        
        {% if request.user.is_anonymous %}
        	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/header/login-in-header/backgrounds.css"/>
        	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/header/login-in-header/buttons.css"/>
        {% endif %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    
    <body>        
        <div id = "header-wrap">
            <div id="title-bar">            	
            	<div id="title-bar-upper" class="titlebar-upper">
                	<div id="title-bar-upper-space-before"></div>
                	<div id="menu-panel">            
	                    <ul id="trans-notif-menu">
	                        <li class="menu_parent" id="notifications">
	                        	<a class="parent" href="javascript:void(0);">
									<img src="{{ STATIC_URL }}doume_graphics/header/notifications-button-normal.png" class="titlebar-upper-quickmenu-button" alt="Notifications"/>
								</a>
	                            <div class="clear"></div>		            	
	                            <ul id="notif-accordeon" class="menuitem reasonable-width">                            
	                                {% block notif_accordeon_panel %}{% endblock %}                            
	                            </ul>
	                        </li>
	                        <li class="menu_parent" id="transactions">
	                        	<a class="parent" href="javascript:void(0);">
	                        		<img src="{{ STATIC_URL }}doume_graphics/header/transactions-button-normal.png" class="titlebar-upper-quickmenu-button" alt="Transactions"/>
	                        	</a>
	                            <div class="clear"></div>		            	
	                            <ul id="trans-accordeon" class="menuitem">
	                                {% block trans_accordeon_panel %}{% endblock %}
	                            </ul>
	                        </li>
	                    </ul>
                	</div>	                	 
            		
            		{% if request.user.is_authenticated %}
	            		<div id="friends-activity" class="friends-activity-button-normal">
		                	{% block friends_activity_panel %}
		                	{% endblock %}
		                </div>    
	            		<div id="chat-panel" class="chat-button-normal">
		                	{% block chat_panel %}
		                	{% endblock %}
		                </div>        
		                
		                <div id="activity-panel" class="activity-button-normal">
		                    {% block activity_panel %}{% endblock %}
		                </div>		          	
			        {% else %}			         	
		            	<div id="login-in-header">
		            		{% block login_panel %}		            			
		            		{% endblock %}
		            	</div>			            
			        {% endif %}	                	  
	                
	            </div>
	            <div id="title-bar-lower">	            		            	
	            	<div class="titlebar-lower-left">
	            		
	            	</div>
	            	<div class="titlebar-lower-right">
						{% block visiting_profile_panel %}
		                
		                {% endblock %}	                
		            </div>
		            <div class="titlebar-lower-middle">
		            	<div class="title-bar-lower-buttons">
			                <div id="allsales-panel" class="titlebar-lower-theme-button">
			                    {% block allsales_panel %}{% endblock %}
			                </div>
			                <div id="bank-panel" class="titlebar-lower-theme-button">
			                    {% block bank_panel %}{% endblock %}
			                </div>
				            <div id="quickdoom-panel" class="titlebar-lower-theme-button">            
		                    	{% block quickdoom_panel %}{% endblock %}
		                	</div>
		                	<div id="friends-panel">
	                			{% block friends_panel %}
	                			
	                			{% endblock %}  						
							</div>
						</div>
					</div>					
	            </div>            	
            </div>
        </div>
        <div id="leftside-wrap">
        	<div class="panel-relative">
        		<img src="{{ STATIC_URL }}doume_graphics/leftside/leftpanel-topleft.png" class="image-left" />
        		<img src="{{ STATIC_URL }}doume_graphics/leftside/leftpanel-topright.png" class="image-right" />
        		<div class="leftpanel-top-background"></div>
        	</div>
        	<div class="panel-relative">
        		<div class="leftpanel-left-background"></div>
        		<div class="leftpanel-right-background"></div>
        		<div class="leftpanel-middle-background">        		
		        	<div id="searchbar-competitions-panel">                    
		            	{% block searchbar_competition_panel %}{% endblock %}
		            </div>
		        	<div id="info-panel">        		
		        	    {% block info_panel %}{% endblock %}        	         
		            </div>
		        </div>
	            
	        </div>
            <div class="panel-relative">
            	<img src="{{ STATIC_URL }}doume_graphics/leftside/leftpanel-bottomleft.png" class="image-left" />
        		<img src="{{ STATIC_URL }}doume_graphics/leftside/leftpanel-bottomright.png" class="image-right" />
        		<div class="leftpanel-bottom-background"></div>
            </div>            
       	</div>
       	<div id="rightside-wrap">
       		<div class="panel-relative">
        		<img src="{{ STATIC_URL }}doume_graphics/rightside/rightpanel-topleft.png" class="image-left" />
        		<img src="{{ STATIC_URL }}doume_graphics/rightside/rightpanel-topright.png" class="image-right" />
        		<div class="rightpanel-top-background"></div>
        	</div>
        	<div class="panel-relative">
        		<div class="rightpanel-left-background"></div>
        		<div class="rightpanel-right-background"></div>
        		<div class="rightpanel-middle-background">        		
		        	<div id="searchbar-dooms-panel">
		                 {% block searchbar_doom_panel %}{% endblock %}
		             </div>             
		       		<div id="personal-panel">     
		        		{% block personal_panel %}
		        		{% endblock %}
		       		</div>
		        </div>
	            
	        </div>
            <div class="panel-relative">
            	<img src="{{ STATIC_URL }}doume_graphics/rightside/rightpanel-bottomleft.png" class="image-left" />
        		<img src="{{ STATIC_URL }}doume_graphics/rightside/rightpanel-bottomright.png" class="image-right" />
        		<div class="rightpanel-bottom-background"></div>
            </div>
        </div>
        <div id="container">
            <div class="clear"></div>            
			
            <div id="work-panel">            	
                {% block work_panel %}{% endblock %}                
            </div>
            
            
            {% block body_outer %}        
                   
            
            {% endblock %}
            
            {% block extra_body_base %}
                {% block extra_body %}{% endblock %}
            {% endblock %}
        </div>
        
        <div id="footer-wrap">
        	<div id="footer-panel">
        		<div class="footer-left">
		        	<div id="credits-panel">
		        		{% block credits_panel %}
		        		{% endblock %}			    
					</div>
				</div>
				<div class="footer-right">
					<div id="help-panel">
		        		{% block help_panel %}
		        		{% endblock %}    
					</div>					
				</div>
				<div class="footer-middle">
					<div id="profiles-panel">
						{% block random_profiles_panel %}					
						{% endblock %}
					</div>
				</div>
				
				<div class="clear"></div>
	        </div>
	    </div>
	    
	    <div id="logo-space">                        
          	{% block logo_link_image %}{% endblock %}
      	</div>
    </body>
    
</html>
