{% extends "site_base.html" %}


{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/homepage.css" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/homepage/backgrounds.css"/>
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}doume_graphics/homepage/buttons.css"/>
{% endblock %}
{% block work_panel %}
    
    <h1>{% trans "Welcome to DOUME" %}</h1>
    
    <p>
        
        Welcome to the DOUME project!
    </p>
    <p>    
	On this site you exchange dooms.
	</p>
	{% if request.user.is_anonymous %}
	<p>
	<br/>
	You are not logged in. <a href="{% url auth_login %}">Log in</a> to fully enjoy the possibilities of <strong>doume</strong>.<br/>
	Or <a href="{% url registration_register %}">sign up</a>.
	<br/>
	</p>
	{% endif %}
	<div class="mainpage-presentation-container">
		<div id="mainpage-text">
			A doom is nothing more than a bet you placed somewhere on some betting site.<br/>
			Here is how it works:
			
			<ul>
			<li> 
			You've bet <strong>3 credits</strong> on <strong>Team A</strong> in the <strong>Team A</strong> vs <strong>Team B</strong> competition.
			<br/>
			If your <strong>Team A</strong> is victorious, you'll win <strong>10 credits</strong>.
			</li>
			<li> 
			<strong>Team A</strong> has almost won! Yet it still may lose. <strong>How about I sell it for 6 credits??</strong>
			<br/>
			To do so, you <a href="{% url dooms_general_create %}">create a doom</a> 
			with potential winnings of <strong>10 credits</strong> and you sell it for <strong>6 credits</strong>.
			<br/>
			The dooms appears on your <a href="{% url wall_mywall %}">wall</a>.
			</li>
			<li> 
			Alice, another user sees your doom <strong>Team A</strong> vs <strong>Team B</strong> and thinks <strong>Team A</strong>'s victory is certain.
			<br/>
			She buys your doom, you get <strong>6 credits</strong>!  
			</li>
			<li> By using the doume site, you've made <strong>3 credits</strong> without taking any risk.
			</li> edit and view my profile
			<li> <a href="{% url main_doc %}">See other clever uses of the doume website</a>.
			</li>
		    </ul>
	    
		    <p>
		        {% blocktrans %}
		        More updates to come...
		        {% endblocktrans %}
		    </p>
		</div>
		<div id="mainpage-video">		
			
			<iframe width="640" height="360" src="http://www.youtube.com/embed/eXfc12BqFkc?wmode=transparent" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="clear"></div> 
	</div>
    <div class="mainpage-interaction-container">
	    <div id="mainpage-allsales">
	   		<a href="{% url categories_show_category_tree openednode=None %}">
	   			<img src="{{ STATIC_URL }}doume_graphics/homepage/browse-dooms-button-normal.png" alt="BROWSE" />
			</a>
	   	</div>
	   	
	   	<div id="mainpage-createdoom">
	   		<a href="{% url categories_show_category_tree openednode=None %}">
	   			<img src="{{ STATIC_URL }}doume_graphics/homepage/create-doom-button-normal.png" alt="CREATE" />
			</a>
	   	</div>
	   	<div class="clear"></div>
   	</div>

	
    {% if request.user.is_authenticated %}
    <form method="POST" action="/">
  	{% csrf_token %}
	  	<fieldset class="inlineLabels">    
		    <ul>
		    	{{ homepage_form.as_ul }}
		    	<li>
		    	<input type="submit" value="submit" />
		    	</li>
		    </ul>
		</fieldset>
	</form>
    {% endif %}
{% endblock %}
