{% load dajaxice_templatetags %}
{% dajaxice_js_import %}

{% load avatar_tags %}
{% load jsonify %}
{% include "js.html" %}


<!-- General libraries -->
<script src="{{ STATIC_URL }}js/requirejs/require.js"></script> 

<script src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>

<!-- Specific libraries -->
<script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/facebox/src/facebox.js" type="text/javascript"></script>


<script type="text/javascript">
require.config({
    baseUrl: "{{ STATIC_URL }}js",
    paths: {
        jqueryui: '{{ STATIC_URL }}js/jquery-ui/ui'
    },
    packages : [    	
        {
            name: "qTip2",
            location: "qTip2/dist",
            main: "jquery.qtip.min.js"
        }
    ],
    shim: {
        'jqueryui/jquery.ui.core': ['jquery'],
        'jqueryui/jquery.ui.widget': ['jqueryui/jquery.ui.core'],
        'jqueryui/jquery.ui.position': ['jqueryui/jquery.ui.widget'],
        'jqueryui/jquery.ui.menu': ['jqueryui/jquery.ui.position'],
        'jqueryui/jquery.ui.autocomplete': ['jqueryui/jquery.ui.menu'],
                
        'jqueryui/jquery.ui.accordion': ['jqueryui/jquery.ui.widget'],
        
        'strophejs_plugins/muc/strophe.muc' : ['strophejs/src/core'],
        'strophejs_plugins/pubsub/strophe.pubsub' : ['strophejs_plugins/muc/strophe.muc'],
        
        'jstree/src/vakata' : 	['jquery'],
        'jstree/dist/jstree.min' : ['jstree/src/vakata']   
    }
  });
  
    var django_username = '{{request.user.username}}';
    var django_other_username = '{{other_user.username}}';
   
    //var xmpp_options = {'page' : {{paginator_page.number|default:1}}};

define("page_state_initialized", //shortcut for django-filled page_state
		[ 'page_state' ],
		function(page_state) {
			page_state.interactive_notifications.visibility.show = {% ifequal paginator_page.number 1 %}true{%else%}true{% endifequal %};
			page_state.page = {{paginator_page.number|default:1}};
			page_state.personal_panel.user = "{{other_user.username}}";
			page_state.static_notifications.count = {{notifications_unread_count}};
			page_state.help = {{ help_tooltips|jsonify }};
			
			return page_state;
		});
		
require(["jquery",
         "console",
         "notifications",
         "init_js_common_functions_static",
         "interactive_friends_common",
         "pubsub.client",
         "payments",
         "transactionbutton",
         "doom_search",
         "competition_search",
         "page_state_initialized",
         "competition_configure/config",
         "doom_create_form", //doom creation in menu
         "timeago",
         "douwigets/doumenu/menu", 
         "douwigets/douaccordeon/accordeon"
         ], function($,
        		 myconsole,
        		 notifications,
        		 common_fn,
        		 interactive_friends_common,
        		 client,
        		 payments,
        		 transactionbutton,
        		 doom_search,
        		 competition_search,
        		 page_state,
        		 competition_config,
        		 doom_create_form) {
	
	$(document).ready(function() {
    	{% include "init_js_document_ready.js" %}    	
    	require(["generic_help"],function(help){    		
    		help.display();
    	});
    });  
});
</script>

