{% include "interactive_notification/js.html" %}
{% include "dooms/js.html" %}

<script type="text/x-jqote-template" id="titlebar_menu_friendship_request">
<li><%= this.username %> wants to be friends with you.
	<ul class="megamenu-ul">
		<li>Accept.</li>
		<li>Refuse.</li>
	</ul>
</li>
</script>

<script type="text/x-jqote-template" id="titlebar_menu">
        <ul id='quickbar'>
            <li class="parent"><a href="javascript:void(0);">Notifiations</a>
				<div class="clear"></div>
                <ul>
				<li>bla</li>
				<li>bla</li>
				<li>bla</li>
                </ul>
		
            </li>
            <li class="parent"><a href="javascript:void(0);">Transactions</a>
				<div class="clear"></div>
                <ul>
                    <li>
                    	<img src="{{ STATIC_URL }}img/logo.png" />
                    </li>
                </ul>		
            </li>
        </ul>

</script>

<script type="text/x-jqote-template" id="friendship_request_accordeon_item">
<li class="douaccordeon-parent">	
	<div class="douaccordeon-header">        
		<span class="douaccordeon-title">
 			<a href="javascript:void(0);"><%=this.username%></a> wants to be friends with you.
 		</span>
		<span class="douaccordeon-summary">
			<a href="javascript:void(0);">[Accept]<a/>
			<a href="javascript:void(0);">[Refuse]<a/>
		</span>
		<div class="clear"></div>        
	</div>
	<div class="douaccordeon-body">	
	<ul>
		<li><a href="javascript:void(0);">Accept</a></li>
		<li><a href="javascript:void(0);">Refuse</a></li>
		<li><a href="javascript:void(0);">View profile</a></li>
	</ul>
	</div>
</li>
</script>

<script type="text/x-jqote-template" id="summary_only_accordeon_item">
<li class="douaccordeon-parent">	
	<div class="douaccordeon-header">        
		<span class="douaccordeon-summary">
			<a href="<%=this.url%>"><%=this.content%><a/>			
		</span>
		<div class="clear"></div>        
	</div>
</li>
</script>

<script type="text/x-jqote-template" id="redirect_to_login_facebox">
<![CDATA[
You are not logged in. You will now be taken to the login page...
]]>
</script>

<script type="text/x-jqote-template" id="form_error_facebox">
<![CDATA[
<% if(this['__all__']!=undefined){ %>
<p>
<strong>Global errors:</strong>
</p>
<p>
<%=this['__all__']%>
</p>
<% } %>
<% if((this['__all__']==undefined && require("init_js_common_functions_static").countProperties(this)>0) || require("init_js_common_functions_static").countProperties(this)>1){ %>
<p>
<strong>There was an error processing the following fields:</strong> 
</p>
<ul class="form_field_error_items">
<% for(var key in this){%>
	<% if(key=='__all__' || key==undefined) continue;%>	
	<li class="form_field_error_item">
		<% if(key=='combination_logic'){%>
		Competition logic is required if you are in programming mode.
		<% }else{ %>
		<span class="form_field_error_form_field_name">
		<%=key%>
		</span>
		: 
		<span class="form_field_error_form_field_error_description">
		<%=this[key]%>
		</span>
		<% } %>
	</li>
<% } %>
</ul>
<% } %>
]]>
</script>

