{% if paginator_page.has_other_pages %}
<span class="step-links">
    {% if paginator_page.has_previous %}
        <a href="javascript:void(0);" class="pagenumber ajax" value="{{ paginator_page.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
    	{% for page in paginator_page.paginator.page_range %}
    		{% ifequal page paginator_page.number %}
    		<a class="pagenumber ajax">{{ page }}</a>
    		{% else %}
    		<a href="javascript:void(0);" class="pagenumber ajax" value="{{ page }}">{{ page }}</a>
    		{% endifequal %}
        {% endfor %}
    </span>

    {% if paginator_page.has_next %}
        <a href="javascript:void(0);" class="pagenumber ajax" value="{{ paginator_page.next_page_number }}">next</a>
    {% endif %}
</span>
{% endif %}