{% if paginator_page.has_other_pages %}
<span class="step-links">
    {% if paginator_page.has_previous %}
        <a href="?page={{ paginator_page.previous_page_number }}" class="pagenumber">previous</a>
    {% endif %}

    <span class="current">
    	{% for page in paginator_page.paginator.page_range %}
    		{% ifequal page paginator_page.number %}
    		<a class="pagenumber">{{ page }}</a>
    		{% else %}
    		<a href="?page={{ page }}" class="pagenumber">{{ page }}</a>
    		{% endifequal %}
        {% endfor %}
    </span>

    {% if paginator_page.has_next %}
        <a href="?page={{ paginator_page.next_page_number }}" class="pagenumber">next</a>
    {% endif %}
</span>
{% endif %}