{% extends "base.html" %}

{% load i18n %}

{% load uni_form_tags %}
{% load pagination_tags %}
{% load group_tags %}
{% load avatar_tags %}


{% block extra_head_base %}
	
    {% include "init_js.html" %}
    
    {% block extra_head %}{% endblock %}
    {% block extra_head_protocol %}
    <script type="text/javascript">	
	require(["protocol","notifications"], function(protocol,notifications) {
		xmpp_options = {'page' : {{paginator_page.number|default:1}} };
		
		protocol.init_session(notifications);
	});
	</script>
    {% endblock %}
{% endblock %}

{% block logo_link_image %}
<a href="{% url home %}">
<img src="{{ STATIC_URL }}/doume_graphics/header/logo.png" alt="DOUMEIT" />
</a>
{% endblock %}

{% block notif_accordeon_panel %}
	{% if request.user.is_authenticated %}
    <div class="loading-notifications">
	Loading...
	</div>
	{% else %}
		{% include "interactive_notification/nologin.html" %}
	{% endif %}
{% endblock %}



{% block trans_accordeon_panel %}
    {% include "transactionbutton/window.html" %}    
{% endblock %}

{% block friends_panel %}
	{% include "interactive_friends/friends_panel.html" %}
{% endblock %}

{% block friends_activity_panel %}
	<a href="{% url home %}">FRIENDS ACTIVITY</a>
{% endblock %}

{% block chat_panel %}
	<a href="{% url chatroom%}">CHAT</a>
{% endblock %}
    
{% block searchbar_doom_panel %}	
    {% include "doom_search/search_bar.html" %}    
{% endblock %}

{% block personal_panel %}
    {% include "dooms/popular_dooms.html" %}
{% endblock %}

{% block info_panel %}
    {% include "dooms/competitions/popular_competitions.html" %}
{% endblock %}
{% block searchbar_competition_panel %}
    {% include "competition_search/search_bar.html" %}
{% endblock %}

{% block quickdoom_panel %}
    <a href="{% url dooms_general_create %}">
		<img src="{{ STATIC_URL }}/doume_graphics/header/create-my-doom-button-normal.png" alt="CREATE MY DOOM" />
	</a>
{% endblock %}
{% block allsales_panel %}
    <a href="{% url categories_show_category_tree openednode=None %}">
    	<img src="{{ STATIC_URL }}/doume_graphics/header/all-sales-button-normal.png" alt="ALL SALES" />
    </a>
{% endblock %}
{% block bank_panel %}
    <a href="{% url bank_account %}">
		<img src="{{ STATIC_URL }}/doume_graphics/header/my-credits-button-normal.png" alt="MY CREDITS" />
	</a>
{% endblock %}
    <a href="{% url interactive_notification_list group %} ">{% trans "Notifications" %}</a>
{% block notif_panel %}
    <a href="{% groupurl interactive_notification_list group %} ">{% trans "Notifications" %}</a>
{% endblock %}
{% block activity_panel %}	

    <div id="profile-menu-title">
    	<span class="avatar">
    		{% avatar request.user 40 %} 
    	</span>
    	<span>
    	
		{%if request.user.is_authenticated %}
		<a href="{% url wall_detail username=request.user.username %}">{{ request.user }}</a>
		{% else %}
		<a href="{% url wall_mywall %}">Me</a>
		{% endif %}
    	</span>
    </div>
    <ul id="profile-menu">
    <li>
	    <a href="
		{%if request.user.is_authenticated %}
		{% url wall_detail username=request.user.username %}
		{% else %}
		{% url wall_mywall %}
		{% endif %}
		"> 
			{% trans "Wall" %} 
		</a>
	</li>
    <li>
		<a href="{% url home_detail %}"> {% trans "Home" %} </a>
	</li>
    <li>
    	<a href="{% url bank_account %}"> {% trans "Credits" %} </a>    
    </li>    
    {% if request.user.is_authenticated %}
    <li>
    <a href="{% url auth_logout %}"> {% trans "Log out" %} </a>
    </li>	    
    {% else %}
    <li>
    <a href="{% url auth_login %}"> {% trans "Log in" %} </a>
    </li>
    <li>
    <a href="{% url registration_register %}"> {% trans "Register" %} </a>
    </li>
    {% endif %}
    </ul>
{% endblock %}

{% block login_panel %}
	{% include "registration/login_in_header.html" %}
{% endblock %}

{% if messages %}
  <ul id="messages">
    {% for message in messages %}
      <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
	<a href="javascript:void(0);"><small>{% trans "clear" %}</small></a>
	{{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}


    
{% block debug_console %}
    <li>console started.</li>    
{% endblock %}


{% block credits_panel %}
	<img src="{{ STATIC_URL }}/doume_graphics/footer/credits.png" alt="{% trans 'created by DT&DOUBEGA' %}"/> 		
{% endblock %}

{% block random_profiles_panel %}
	{% include "profiles/random_profiles.html" %}
{% endblock %}

{% block help_panel %}
    {% if request.user.is_authenticated %}
	    {%if help_enabled %}
	    <a href="{% url help_disable %}?next={{ request.get_full_path }}">
	    	<img src="{{ STATIC_URL }}/doume_graphics/footer/disable-help-button-normal.png" alt="{% trans 'Disable help' %}"/>
	    </a>
	    {% else %}
	    <a href="{% url help_enable %}?next={{ request.get_full_path }}">
			<img src="{{ STATIC_URL }}/doume_graphics/footer/enable-help-button-normal.png" alt="{% trans 'Enable help' %}"/>
		</a>
	    {% endif %}
    {% endif %}
{% endblock %}
