{% load uni_form_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>	
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        <title>Site name</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />		
		<link type="text/css" href="{{ STATIC_URL }}js/jquery-ui/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
		<link rel="stylesheet" href="{{ STATIC_URL }}js/douwigets/doumenu/menu.css" type="text/css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}js/douwigets/douaccordeon/accordeon.css" type="text/css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/jquery-autocomplete/jquery.autocomplete.css"/>
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/ajax_select/iconic.css"/>

		<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.min.js"></script>	
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquote2/jquery.jqote2.min.js"></script>	
		<script type="text/javascript" src="http://cherne.net/brian/resources/jquery.hoverIntent.minified.js"></script>
	
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/douwigets/doumenu/menu.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/douwigets/douaccordeon/accordeon.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-autocomplete/jquery.autocomplete.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/ajax_select/ajax_select.js"></script>
        

        <!--[if lt IE 1]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
        <![endif]-->
	<script type="text/javascript">	    	
            $(document).ready(function () 
				{
		            //$("#menu-panel").html($("#titlebar_menu").jqote({friend_requesters:["alice"]}));
		            $("#acc").append($("#friendship_request_accordeon_item").jqote({'username':'alice'}));
		            $("#acc").append($("#friendship_request_accordeon_item").jqote({'username':'lewis'}));
		            $("#acc").append($("#friendship_request_accordeon_item").jqote({'username':'motar'}));
					
					$("#quickbar").doomenu();
					$("#acc").douaccordeon();
                    
					$("#bcc").douaccordeon();
                    $("#bcc").bind('closed',
                        function(event,element){                            
                            $(".ac_results").hide();
                        }
                    );      
				}
                
            
            );
            function refreshMenu(){
            	$("#acc").append($("#friendship_request_accordeon_item").jqote({'username':'killer'}));
            	$("#acc").append($("#summary_only_accordeon_item").jqote({'url':'#','content':'lewis has bought your doom'}));
            	$("#acc").append($("#friendship_request_accordeon_item").jqote({'username':'overlord'}));
            	$("#acc").douaccordeon();
            }
            
	</script>
	{% include "js.html" %}
    </head>
    
    <body>        
    
        <div id="title-bar">            
            <div id="logo-space">                        
                <img src="{{ STATIC_URL }}img/logo.png"/>
            </div>
            <div id="activity-panel">
                Home/Wall
            </div>
            <div id="menu-panel">
	    		<ul id='quickbar'>
		            <li class="menu_parent"><a class="parent" href="#">Notifiations</a>
		            	<div class="clear"></div>		            	
						<ul id="acc" class="menuitem">
                        </ul>
		            </li>
		            <li class="menu_parent"><a class="parent" href="#">Transactions</a>
						<div class="clear"></div>
						<ul id="bcc" class="menuitem">
							<li class="douaccordeon-parent">	
								<div class="douaccordeon-header">        
									<div class="douaccordeon-title">
							 			sell doom
							 		</div>								
									<div class="clear"></div>        
								</div>
								<div class="douaccordeon-body">	
                                    <form class="uniForm" method="POST" action="#">
                                      {% csrf_token %}
                                        {{ search_form_comp|as_uni_form }}    
                                        <input type="submit" value="create" />        
                                    </form>
                                </div>
							</li>
							<li class="douaccordeon-parent">	
								<div class="douaccordeon-header">        
									<div class="douaccordeon-title">
							 			buy doom
							 		</div>								
									<div class="clear"></div>        
								</div>
								<div class="douaccordeon-body">	
									<form class="uniForm" method="POST" action="#">
                                      {% csrf_token %}
                                        {{ search_form_doom|as_uni_form }}    
                                        <input type="submit" value="create" />        
                                    </form>
								</div>
							</li>								
						</ul>
		            </li>
		        </ul>
	        </div>
	    </div>
        <div id="personal-panel">            
            <div id="avatar-panel">
                avatar
            </div>
            <div id="nickname-panel">
                nickname
            </div>
            
            <div id="friends-panel">
               friends
            </div>
            <div id="team-panel">
                teams
            </div>
        </div>


        <div id="info-panel">
            <div id="quickdoom-panel">            
                quick doom
            </div>
            <div id="allsales-panel">
                All sales
            </div>
        </div>
        

        <div id="work-panel">
        	<a href="javascript:refreshMenu();">refresh menu</a><br/>
        	<a href="javascript:closeMenu();">close menu</a><br/>
            
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            Work panel<br/>
            <div id="consolelog"></div>
        </div>
    </body>
</html>
