<script type="text/x-jqote-template" id="doom_won_menu">
<![CDATA[

<li class="douaccordeon-parent">    
    <div class="douaccordeon-header">
        <span class="douaccordeon-title">
            You have won <strong><%=this.amount%></strong> credits!
        </span>
        <span class="douaccordeon-summary">                       
            <a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">[bank]</a>
			<a href="<% var url=require('urls').resolve("wall",{username:django_username}); %><%=url%>">[wall]</a>
		</span>
        <div class="clear"></div> 
    </div>
    <div class="douaccordeon-body">
		<p>
        Doom <strong><%=this.doom.signature%></strong> has won you <%=this.amount %> credits.
        </p>
		<p>
        Doom's description: <%=this.doom.description%>
		</p>
		Funds will be transfered from the doom's original creator: <a href='<% var url=require('urls').resolve("wall",{username:this.user_paying}); %><%=url%>'><%=this.user_paying%></a>.
        <ul>
            <li><a href="<% var url=require('urls').resolve("wall",{username:django_username}); %><%=url%>">see my wall</a></li>
			<li><a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">see my bank account</a></li>
			<li><a href='<% var url=require('urls').resolve("wall",{username:this.user_paying}); %><%=url%>'>Doom creator's wall</a></li>
        </ul>
    </div>
</li>

]]>
</script>

<script type="text/x-jqote-template" id="doom_won_page">
<![CDATA[
	<div class="notification-parent">    
        <div class="notification-header">
            Victory is yours!
        </div>
        <div class="notification-body">
            <p>
        	Doom <strong><%=this.doom.signature%></strong> has won you <%=this.amount %> credits.
        	</p>
			<div id="doom_preview_<%= this.doom.id %>" class="doom-preview-to-load" value="<%= this.doom.id %>">	
			</div>
			Funds will be transfered from the doom's original creator: <a href='<% var url=require('urls').resolve("wall",{username:this.user_paying}); %><%=url%>'><%=this.user_paying%></a>.
        	<ul>
            	<li><a href="<% var url=require('urls').resolve("wall",{username:django_username}); %><%=url%>">see my wall</a></li>
				<li><a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">see my bank account</a></li>
				<li><a href='<% var url=require('urls').resolve("wall",{username:this.user_paying}); %><%=url%>'>Doom creator's wall</a></li>
        	</ul>
        </div>
    </div>
]]>
</script>

<script type="text/x-jqote-template" id="doom_lost_menu">
<![CDATA[

<li class="douaccordeon-parent">    
    <div class="douaccordeon-header">
        <span class="douaccordeon-title">
            Your doom has lost :-(.
        </span>
        <span class="douaccordeon-summary">                       
            <a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">[bank]</a>
			<a href="<% var url=require('urls').resolve("wall",{username:django_username}); %><%=url%>">[wall]</a>
		</span>
        <div class="clear"></div> 
    </div>
    <div class="douaccordeon-body">
		<p>
        Doom <strong><%=this.signature%></strong> has lost.
        </p>
		<p>
        Doom's description: <%=this.description%>
		</p>
		No credits will be taken from you and you will not recieve any new credits.
        <ul>
            <li><a href="<% var url=require('urls').resolve("wall",{username:django_username}); %><%=url%>">see my wall</a></li>
			<li><a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">see my bank account</a></li>			
        </ul>
    </div>
</li>

]]>
</script>

<script type="text/x-jqote-template" id="doom_lost_page">
<![CDATA[
	<div class="notification-parent">    
        <div class="notification-header">
            Your doom has lost :-(.
        </div>
        <div class="notification-body">
            <p>
        	Doom <strong><%=this.signature%></strong> has lost.
        	</p>
			<div id="doom_preview_<%= this.id %>" class="doom-preview-to-load" value="<%= this.id %>">	
			</div>
			No credits will be taken from you and you will not recieve any new credits.
        	<ul>
	            <li><a href="<% var url=require('urls').resolve("wall",{username:django_username}); %><%=url%>">see my wall</a></li>
				<li><a href="<% var url=require('urls').resolve("bank_account"); %><%=url%>">see my bank account</a></li>			
        	</ul>
        </div>
    </div>
]]>
</script>