
{% ifequal object.doom.get_status_display "Won" %}
    <div class="notification-parent">    
        <div class="notification-header">
            Victory is yours!
        </div>
        <div class="notification-body">
            <p>
        	Doom <strong>{{object.transaction.doom}}</strong> has won you {{object.transaction.amount }} credits.
        	</p>
        	
			{% with object.doom as object %}
                {% include "dooms/doom_preview.html" %}
            {% endwith %}
			Funds will be transfered from the doom's original creator: <a href='{% url wall_detail username=object.doom.guarantor %}'>{{object.doom.guarantor}}</a>
        	<ul>
            	<li><a href="{% url wall_detail username=object.doom.owner %}">see my wall</a></li>
				<li><a href="{% url bank_account %}">see my bank account</a></li>
				<li><a href='{% url wall_detail username=object.doom.guarantor %}'>Doom creator's wall</a></li>
        	</ul>
        </div>
    </div>
{% endifequal %}

{% ifequal object.doom.get_status_display "Lost" %}
    <div class="notification-parent">    
        <div class="notification-header">
            Your doom has lost :-(.
        </div>
        <div class="notification-body">
            <p>
        	Doom <strong>{{object.doom}}</strong> has lost.
        	</p>
			<p>
        	{% with object.doom as object %}
                {% include "dooms/doom_preview.html" %}
            {% endwith %}
			</p>
			No credits will be taken from you and you will not recieve any new credits.
        	<ul>
            	<li><a href="{% url wall_detail username=object.doom.owner %}">see my wall</a></li>
				<li><a href="{% url bank_account %}">see my bank account</a></li>		
        	</ul>
        </div>
    </div>
{% endifequal %}

{% ifequal object.doom.get_status_display "Frozen" %}	
    <div class="notification-parent">    
        <div class="notification-header">
            Doom is frozen [You should not see this message]
        </div>
        <div class="notification-body">
            <p>
        	Doom {{object.doom}} is frozen.
        	</p>
			{% with object.doom as object %}
                {% include "dooms/doom_preview.html" %}
            {% endwith %}
			Funds will be transfered from the doom's original creator: <a href='{% url wall_detail username=object.doom.guarantor %}'>{{object.doom.guarantor}}</a>.
        	<ul>
            	<li><a href="{% url wall_detail username=object.doom.owner %}">see my wall</a></li>
				<li><a href="{% url bank_account %}">see my bank account</a></li>
				<li><a href='{% url wall_detail username=object.doom.guarantor %}'>Doom creator's wall</a></li>
        	</ul>
        </div>
    </div>
{% endifequal %}