{% extends "site_base.html" %}
{% load types %}
{% load group_tags %}
{% block title %}Search{% endblock %}

{% block work_panel %}
<h2>Search</h2>

<form method="get" action=".">
  <table>
  {{ form.as_table }}
  <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="Search"></td>
    </tr>
  </table>

{% if query %}
<h3>Results</h3>
{% for result in page.object_list %}
{% ifequal result.object|type "Competition" %}
    <p><a href="?q={{q}}&q1={{q1}}&doomid={{doomid}}&lastcompetition={{lastcompetition}}&competitionid={{result.object.id}}">{{ result.object }}</a></p>
{% endifequal %}    
{% ifequal result.object|type "Doom" %}    
    {% with result.object as object %}
        {% if object.on_sale %}
            <div class="doom-selling">			
                <div class="doom-buybutton">
                <a href="{% groupurl dooms_buy group doomid=object.id %}" rel="facebox">buy</a>
                </div>
            
                {% include "dooms/doom_preview.html" %}
            </div>	
        {% else %}
            <div class="doom-buying">			            
                {% include "dooms/doom_preview.html" %}
            </div>
        {% endif %}
    {% endwith %}    
{% endifequal %}

{% empty %}
<p>No results found.</p>
{% endfor %}
{% endif %}
</form>
<div id="doom-create-panel">
{% include "dooms/doom_create.html" %}
</div>
{% endblock %}

{% block info_panel %}
	<strong>Live scores:</strong>
    {% for competition in competitions %}
        <li> 
        {% include "dooms/competitions/competition_preview.html" %}
    {% endfor %}
    <div id="doom-draft-panel">
	Draft dooms:
	{% for doom in draft_dooms %}	
		<p><a href="?q={{q}}&q1={{q1}}&doomid={{doom.id}}&lastcompetition={{lastcompetition}}&competitionid={{result.object.id}}">{{ doom }}</a></p>
	{% endfor %}
	</div>
{% endblock %}

