{% load i18n %}

<div class="panel-relative">
	<img src="{{ STATIC_URL }}doume_graphics/header/login-in-header/login-in-header-topleft.png" class="image-left" />
	<img src="{{ STATIC_URL }}doume_graphics/header/login-in-header/login-in-header-topright.png" class="image-right" />
	<div class="login-in-header-top-background"></div>
</div>
<div class="panel-relative">
	<div class="login-in-header-left-background"></div>
	<div class="login-in-header-right-background"></div>
	<div class="login-in-header-middle-background">
		<form method="post" action="{% url auth_login %}">
		  {% csrf_token %}
		  
		  {{ auth_form }}
		  
		  <input type="hidden" name="next" value="{{ next }}" />		
		  <input type="submit" value="{% trans 'Log in' %}" class="login-in-header-submit-normal" />
		
		  
		</form>
		<span>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}" class="login-in-header-reset-normal">{% trans "Reset it" %}</a>!</span>
		<span>{% trans "Not member" %}? <a href="{% url registration_register %}" class="login-in-header-register-normal">{% trans "Register" %}</a>!</span>		        		
 	</div>
</div>

<div class="panel-relative">
   	<img src="{{ STATIC_URL }}doume_graphics/header/login-in-header/login-in-header-bottomleft.png" class="image-left" />
	<img src="{{ STATIC_URL }}doume_graphics/header/login-in-header/login-in-header-bottomright.png" class="image-right" />
	<div class="login-in-header-bottom-background"></div>
</div>
               

