{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block work_panel %}
<form method="post" action=".">
    {% csrf_token %}
  {{ form|as_uni_form }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>
{% endblock %}
