{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block extra_head %}
    <script type="text/javascript">
    require(["logout"]);
    </script>
{% endblock %}

{% block work_panel %}
<p>{% trans "You are logged out" %}</p>
<p>Click <a href="{% url auth_login %}">here</a> to log in.</p>
{% endblock %}
