{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}

{% block work_panel %}

{% if validlink %}

<form method="post" action=".">
{% csrf_token %}
  {{ form|as_uni_form }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}

{% endblock %}
