{% extends "site_base.html" %}
{% load i18n %}
{% load uni_form_tags %}
{% block work_panel %}

<p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url auth_login %}">{% trans "Log in" %}</a></p>

{% endblock %}
