{% extends "dooms/competitions/twosideswithscores/twosideswithscores_competition_configure.html" %}

{% load uni_form_tags %}
{% block tsws_js_competition_include %}
	"competition_configure/soccer"
{% endblock %}

{% block tsws_help_template_id %}soccer_competition_config_help{% endblock %}

{% block tsws_help_template_content_specific %}
<li>attributes of <%= this.id_master %> are: BEST_PLAYER </li>
<li>example: <%= this.id_master %>.<%= this.side1_code %>.SCORE > <%= this.id_master %>.<%= this.side2_code %>.SCORE and <%= this.id_master %>.BEST_PLAYER = "bob"</li>
{% endblock %}

{% block tsws_competition_accordion_extra %}	    	
	<h3 class="other"><a href="#" id>Other</a><span class="status">[Not set]</span></h3>
    <div class="jqui-parent other">
    	<div class="fieldWrapper">
            {{ competition_form.best_player.errors }}
           	{{ competition_form.best_player.label_tag }}: {{ competition_form.best_player }}           	
        </div>
    </div>
{% endblock %}

