.clear {clear:both} 
.doomenu {
    margin:0; 
    padding:0; 
    list-style:none;
}

.parent{
    float:left;
}

.menu_parent{
    float:left;        
}
     
/*TADY JE ZMENA V DISPLAYS this is the parent menu */
.doomenu li.menu_parent a.parent {
    display:inline-block  !important;
    /*padding:8px 5px 0 5px;*/ 
    font-weight:700;  
    /*height:23px;*/ 
    text-decoration:none; 
    color:#fff; 
    text-align:center; 
    color:#333;
}

.doomenu li.menu_parent a.parent:hover {
    color:#fff;
}
 
.doomenu a.selected {
    color:#f00;
}
 
/* submenu, it's hidden by default */
.doomenu li.menu_parent ul.menuitem {    
    position: absolute;
    
    display:none; 
    margin:0 0 0 -1px; 
    padding:0; 
    list-style:none;
    border:2px blue solid;
	white-space:nowrap;
	z-index:2;
    
}
 
.doomenu li.menu_parent ul.menuitem li.menuitem {     
    border:2px green solid;
	width:100%;
	text-align:left;
	white-space:nowrap;
	
}
 
.doomenu li.menu_parent ul.menuitem a.menuitem {
   
    display:block; 
   
    padding: 8px 5px; 
    color:#666;
	
	width:100%;
	text-align:left;
	white-space:nowrap;
}
 
.doomenu li.menu_parent ul.menuitem a.menuitem:hover {
    text-decoration:underline; 
	
	width:100%;
	text-align:left;
	white-space:nowrap;
 
}

