<script type="text/x-jqote-template" id="wallpost_doom_interaction">
<![CDATA[
	<span id="wallpost_doom_interaction">
		<% switch(this.doom.status){ %>
			<% case require("constants").DoomStatus.PENDING: %>
            <% if(this.doom.onsale){ %>
                <div class="doom-buybutton">
                <% if(this.doom.owner == django_username){ %>
                    on sale on my wall
                <% }else if(this.doom.owner == django_other_username){ %>
                    <a href="buy_url" rel="facebox">buy</a>
                    <% out = out.replace(/buy_url/, require('urls').resolve("buy_doom",{doomid:this.doom.id,buy_doom_redirect:document.location.pathname})); %>
                <% }else{ %>
                    <a href="buy_url" rel="facebox">buy from <%= this.doom.owner %></a>                
                    <% out = out.replace(/buy_url/, require('urls').resolve("buy_doom",{doomid:this.doom.id,buy_doom_redirect:document.location.pathname})); %>
                <% } %>
                </div>            
            <% }else{%>
                <% if(this.doom.owner == django_username){ %>
                    <div class="doom-sellbutton">
                    <a href="sell_url" rel="facebox">sell</a>
                    </div>
                    <% out = out.replace(/sell_url/, require('urls').resolve("sell_doom",{doomid:this.doom.id})); %>
                <% }else if(this.doom.owner == django_other_username){ %>
                    
                <% }else{ %>
                    <div class="doom-sellbutton">
                    now owned by <a href="profile_url" rel="facebox"><%= this.doom.owner %></a>
                    </div>
                    <% out = out.replace(/profile_url/, require('urls').resolve("wall",{username:this.doom.owner})); %>                
                <% } %>
            <% } %>
			<% break; %>
			<% case require("constants").DoomStatus.WON: %>
			<div id="doom-winbutton">
        		<% if( django_username==this.doom.owner){ %>
            		I won this
        		<% }else{ %>
            		<% if( django_other_username==this.doom.owner){ %>
                		won
            		<% }else{ %>
                		won by <a href="<% var url=require('urls').resolve("wall",{username:this.doom.owner}); %><%=url%>"><%= this.doom.owner %></a>
					<% } %>
            	<% } %>
        	</div>
			<% break; %>			
			<% case require("constants").DoomStatus.LOST: %>
			<div id="doom-losebutton">
        		<% if( django_username == this.doom.owner ){ %>
            		I lost this
        		<% }else{ %>
            		<% if( django_other_username == this.doom.owner ){ %>
                		lost
            		<% }else{ %>
                		lost by someone else
            		<% } %>
        		<% } %>
        	</div>
			<% break; %>
		<% } %>
	    <span class="wallpost-doom-details">
    	<span id="wallpost-doom-details-header">
    	<a href="javascript:void(0);" class="">doom details</a>
    	</span>
    	<div id="wallpost-doom-details-contents">
		<div class="clear"></div>
    	<div id="wallpost_doom_preview_<%= this.doom.id %>"  class="doom-preview-to-load" value="<%= this.doom.id %>">	
    	</div>
    	</div>
    	</span>
	</span>
]]>
</script>

<script type="text/x-jqote-template" id="wallpost_doom_contents">
<![CDATA[
		<span class="wallpost_doom_<%= this.doom.id %>">
        <% if(this.category==1){ %>
        <div class="doom-buying">
        <% }else if(this.category==2){ %>
        <div class="doom-selling">        
		<% }else if(this.category==3){ %>
        <div class="doom-winner">
        <% } %>
            <span id="wallpost-message">
            <%= this.message %>
            </span>
			<% var wallpost_doom_interaction=$("#wallpost_doom_interaction").jqote(this); %>
			<%= wallpost_doom_interaction %>

        </div>
		</span>
]]>
</script>

<script type="text/x-jqote-template" id="wallpost_wall_prelude">
<![CDATA[
    <div class="wall-wallpost-header">
        <% if (this.writer){ %>
            <span class="wall-user-interaction">
                <strong>From <%= this.writer %>:</strong>
            </span>
        <% } %>
        
        <%var now = require("init_js_common_functions_static").ISODateString(new Date());%>
        <span class="wall-wallpost-time timeago" title='<%=now%>'>
        <%=now%>
        </span>             
    </div>
    <% if (this.writer){ %>
        <div class="clear"></div>
    <% } %>
]]>
</script>

<script type="text/x-jqote-template" id="wallpost_news_contents">
<![CDATA[
		<div class="news">
            <%= this.message %>            
		</div>
]]>
</script>


 <script type="text/x-jqote-template" id="wallpost_doom">
    <![CDATA[    	
    <div id="wallpost_<%= this.id %>">
		<% 
			var wallpost_contents;
			if(this.category == 0){
				wallpost_contents=$("#wallpost_news_contents").jqote(this);
			}else{
				wallpost_contents=$("#wallpost_doom_contents").jqote(this);
			 }
		%>
		
		<%= wallpost_contents %>
    </div>
    ]]>
</script>

<script type="text/x-jqote-template" id="frontsales_doom_contents">
<![CDATA[
		<div class="panel-relative">
			<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-topleft.png" class="image-left" />
			<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-topright.png" class="image-right" />
			<div class="dooms-preview-classic-top-background"></div>
		</div>
		<div class="panel-relative">
			<div class="dooms-preview-classic-left-background"></div>
			<div class="dooms-preview-classic-right-background"></div>
			<div class="dooms-preview-classic-middle-selling-background">
				<% if (this.doom.owner != django_username){ %>
                	<div class="doom-buybutton">
					<% var url = require('urls').resolve("buy_doom",{doomid:this.doom.id,buy_doom_redirect:document.location.pathname});%>
                	<a href="<%= url %>" rel="facebox">buy</a>
                	</div>
            	<% } %>
				<div id="doom_preview_<%= this.doom.id %>" class="doom-preview-to-load" value="<%= this.doom.id %>">	
				</div>
			</div>
		</div>
		<div class="panel-relative">
			<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-bottomleft.png" class="image-left" />
			<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-bottomright.png" class="image-right" />
			   <div class="dooms-preview-classic-bottom-background"></div>
		</div>
			
]]>
</script>

<script type="text/x-jqote-template" id="frontsales_doom">
    <![CDATA[    
	<span id="frontsale_doom_<%= this.doom.id %>">		
		<% var frontsales_doom_contents=$("#frontsales_doom_contents").jqote(this); %>
		<%= frontsales_doom_contents %>
	</span>    
]]>
</script>

<script type="text/x-jqote-template" id="victories_doom_contents">
<![CDATA[
		<div class="doom-winner">
			<% if (this.doom.owner != django_username){ %>
				<div id="doom-winbutton">
				<strong> won by <a href="<% var url = require('urls').resolve("wall",{username:this.doom.owner});%><%= url %>"><%=this.doom.owner%></a></strong>
				</div>                
            <% } %>
			<div id="doom_victory_preview_<%= this.doom.id %>">	
			Loading... <img src="{{ STATIC_URL }}img/loading.gif"/>		
			</div>
		</div>	
]]>
</script>

<script type="text/x-jqote-template" id="victories_doom">
    <![CDATA[    
	<span id="victory_doom_<%= this.doom.id %>">		
		<% var victories_doom_contents=$("#victories_doom_contents").jqote(this); %>
		<%= victories_doom_contents %>
	</span>    
	<% require('dooms').preview_doom_victory("#doom_victory_preview_"+this.doom.id,this.doom.id); %>
]]>
</script>


<script type="text/x-jqote-template" id="wallpost_friendship">
    <![CDATA[    
    <div id="wallpost_<%= this.id %>">
        <div class="news">
            <div id="invitation_<%= this.invitation.id %>">
             <span class="avatar_<%=this.invitation.from %>"></span> <%= this.invitation.from %> 
             and 
             <span class="avatar_<%=this.invitation.to %>"></span>  <%= this.invitation.to %> 
             are now friends.
        </div>
    </div>
    <%
    Dajaxice.profiles.get_avatar_url(require("init_js_common_functions_static").replace_avatar,{'user':this.invitation.from});
    Dajaxice.profiles.get_avatar_url(require("init_js_common_functions_static").replace_avatar,{'user':this.invitation.to});
    %>
]]>
</script>
