{% load uni_form_tags %}
{% load group_tags %}

<div class="pagination">
    {% include "pagination.html" %}
</div>
{% with paginator_page.object_list as wallposts %}
<div id="wall-contents">	
   {% include "wall/wall_contents.html" %}
   </div>
   <div class="pagination">
    {% include "pagination.html" %}
    </div>
</div>
{% endwith %}