<li>
    <div id="wallpost_{{wallpost.id}}">            
    {% with wallpost.content_object as object %}            
        {%ifequal wallpost.category 0 %} {# news #}
            {% ifequal wallpost.content_type.model "message" %}  
                {% if wallpost.writer %}
                    <div class="wall-wallpost-header">
                        <span class="wall-user-interaction">            
                        <strong>From {{ wallpost.writer  }}:</strong>
                        </span>
                        <span class="wall-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                        {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                        </span>                
                    </div>
                    <div class="clear"></div>
                {% else %}
                    <div class="wall-wallpost-header">                                        
                        <span class="wall-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                        {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                        </span>                
                    </div>
                {% endif %}
            {% else %}
                <div class="wall-wallpost-header">                                        
                    <span class="wall-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                    {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                    </span>                
                </div>
            {% endifequal %}
            <div class="news">
            {% ifequal wallpost.content_type.model "message" %}                 
            {% include "wall/message.html" %}            
            {% endifequal%}
            {% ifequal wallpost.content_type.model "friendshipinvitation" %}        
                {% include "wall/invitation.html" %}            
            {% endifequal%}
            </div>
        {% else %} {# buy/sell/win #} 
            {% with wallpost.content_object.transaction.doom as doom %}                
            <span class="wallpost_doom_{{doom.id}}">
            {% with wallpost.content_object.transaction as transaction %}
                {% with wallpost.content_object.message as message %}
                    <div class="wall-wallpost-header">                                        
                        <span class="wall-wallpost-time timeago" title='{{wallpost.moment|date:"c"}}'>
                        {{ wallpost.moment|date:"<D d M Y, G:i:s>" }}
                        </span>                
                    </div> 
                    {% ifequal wallpost.category 1 %} {# buy #}                                                                       
                        <div class="doom-buying">
                            <span id="wallpost-message">
                            {{ message }}
                            </span>
                            {% include "wall/wallpost_doom_interaction.html" %}
                        </div>
                    {% endifequal %}
                    {% ifequal wallpost.category 2 %} {# sell #}
                        <div class="doom-selling">
                            <span id="wallpost-message">
                            {{ message }}
                            </span>
                            {% include "wall/wallpost_doom_interaction.html" %}
                        </div>                                    
                    {% endifequal %}
                    {% ifequal wallpost.category 3 %} {# win #}
                        <div class="doom-winner">
                            <span id="wallpost-message">
                            {{ message }}
                            </span>
                        </div>                                    
                    {% endifequal %}       
                {% endwith %}                                                       
            {% endwith %}
            </span>
            {% endwith %}
        {% endifequal%}
    {% endwith %}
    </div>
</li>