{% load uni_form_tags %}
{% load group_tags %}

  <ul id="tabnav">
    <li class="active"><a href="{% groupurl wall_detail group username=other_user %}">News - Buying - Selling</a></li>
    {% if group %}
      <li><a href="{% groupurl team_detail group %}">infos</a></li>
    {% else %}
      <li><a href="{% url profile_detail other_user.username %}">infos</a></li>
    {% endif %}
  </ul>  
  	<div id="selling-panel-controls">
	<div class="left-panel">
	<ul class="showcase-tabs">
	  	<li class="showcase-tabs-selected" id="sales">Sales</li>
	  	<li id="victories">Victories</li>
        <li id="hide">Hide</li>
	</ul>
	</div>	
	</div>
	<div id="selling-panel">
	{% for doom in selling_dooms %}
		{% with doom as object %}
		<span id="frontsale_doom_{{ doom.id }}">			
			<div class="panel-relative">
				<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-topleft.png" class="image-left" />
				<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-topright.png" class="image-right" />
			    <div class="dooms-preview-classic-top-background"></div>
			</div>
			
			<div class="panel-relative">
				<div class="dooms-preview-classic-left-background"></div>
				<div class="dooms-preview-classic-right-background"></div>
				<div class="dooms-preview-classic-middle-selling-background">
				{% if not is_me %}
	                <div class="doom-buybutton">
	                <a href="{% groupurl dooms_buy group doomid=doom.id %}?buy_doom_redirect={{buy_doom_redirect}}" rel="facebox">buy</a>
	                </div>
	            {% endif %}
				{% include "dooms/doom_preview.html" %}
				</div>
			</div>
			
			<div class="panel-relative">
				<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-bottomleft.png" class="image-left" />
				<img src="{{ STATIC_URL }}doume_graphics/dooms/dooms-preview-classic-bottomright.png" class="image-right" />
			    <div class="dooms-preview-classic-bottom-background"></div>
			</div>			
		</span>
		{% endwith %}
	{% empty%}
		<strong>There is nothing on sale yet.</strong>
	{% endfor %}
	</div>
	<div id="winning-panel">
	{% for doom in finished_dooms %}
		{% ifequal doom.status Doom.WON %}
		{% with doom as object %}
		<span id="winner_doom_{{ doom.id }}">
			<div class="doom-winner">
				{% include "dooms/doom_victory_preview.html" %}
			</div>	
		</span>
		{% endwith %}
		{% endifequal %}
	{% endfor %}
	</div>
{% if is_friend or is_me %}   
   <form method="POST" action="" class="write-on-wall-form-parent">
     {% csrf_token %}
     <ul class="write-on-wall-form">
     {{ message_form.as_ul }}
     </ul>
     <input type="submit" value="write" class="write-on-wall-button"/>
     <div class="clear"></div>
   </form>
{% endif %}
<ul id="wall-activity-panel"> 
	{% if is_invited %}
	<strong>You have invited {{ other_user }} to be friends with you.</strong>
	<p>
	You'll see this wall when your invitation is accepted.
	</p>
	{% else %}
		{% if has_invited %}
		<strong>{{ other_user }} wants to be friends with you.
		<p>
		<a href = "{% url interactive_notification_list_all %}">go to your notifications</a>
		</p>
		</strong>
		
		{% endif %}
	{% endif %}
	
	{% if other_user.get_profile.interface.visibility.wall == 0 %}
		{% for wallpost in wallposts %}
			{% include "wall/wall_item.html" %}
		{% empty %}
			<strong>There are no items posted on this wall yet.</strong> 			
		{% endfor %}
	{% endif %}
	
	{% if other_user.get_profile.interface.visibility.wall == 1 %}
		{% if is_friend or is_me %}
			{% for wallpost in wallposts %}
				{% include "wall/wall_item.html" %}
			{% empty %}
				<strong>There are no items posted on this wall yet.</strong> 			
			{% endfor %}
		{% endif %}
	{% endif %}
	
	{% if other_user.get_profile.interface.visibility.wall == 4 %}
		{% if is_me %}
			{% for wallpost in wallposts %}
				{% include "wall/wall_item.html" %}
			{% empty %}
				<strong>There are no items posted on this wall yet.</strong> 			
			{% endfor %}
		{% endif %}
	{% endif %}	
</ul>
