{% extends "site_base.html" %}

{% load uni_form_tags %}
{% load group_tags %}

{% block extra_head %}    
    
    {% include "wall/js.html" %}
{% endblock %}

{% block extra_head_protocol %}
<script type="text/javascript">    
   require(["protocol","wall","notifications","frontpanel_tabs"], function(protocol,wall,notifications) {
   	protocol.xmpp_options = {'wallpost_sub_user' : '{{other_user}}','page' : {{paginator_page.number|default:1}} };
    notifications.event_cb = wall.create_event('{{other_user}}');
    
    protocol.init_session(notifications);
   });
</script>

<script type="text/javascript">	
	require(["wall_help"]);
</script>
{% endblock %}

{% block work_panel %}	
	{% include "wall/wall_paginated.html" %}
{% endblock %}

{% block visiting_profile_panel %}
	{% include "profiles/visiting_profile.html" %} 
{% endblock %}