<script type="text/x-jqote-template" id="chatroom_message">
<![CDATA[
    <li class="chat-message">
        <span class="chatroom-user-talking"><%=this.user%></span>:<span class="chatroom-user-talk"><%=this.content%></span>
    </li>
]]>
</script>

<script type="text/x-jqote-template" id="chatroom_user">
<![CDATA[
    <li class="chat-user" id="<%=this.user%>">
        <span class="chatroom-user"><img src="<%=this.url%>"/><a href="<% var url=require('urls').resolve("wall",{username:this.user});%><%=url%>"><%=this.user%></a></span>
    </li>
]]>
</script>

<script type="text/x-jqote-template" id="chat_send_failed">
<![CDATA[
    Error sending message.
]]>
</script>
