{% extends "site_base.html" %}
{% load avatar_tags %}

{% block extra_head %}
    {% include "chat/js.html" %}    
    <script type="text/javascript">
    xmpp_options = {'broadcast_chat_id' : 1};
	require(["protocol","chat","notifications","chat_form"], function(protocol,chat,notifications) {
		protocol.xmpp_other_init = chat.xmpp_other_init;
	    notifications.event_cb = chat.event_cb;
	});
    </script>
{% endblock %}


{% block work_panel %}
    <div id="chat-intro">
    <p>
    Welcome to the chat room. Exchange your dooms here.
    </p>
    <p>
    You should safely <a href="javascript:void(0);" id="sign-out">sign out of the chat</a> before closing the window.
    </p>
    </div>
    <div id="chatroom">
    <div id="chatroom-members">
    <ul>    
    </ul>
    </div>
    <div id="chatroom-communication">
    <div id="chatroom-window">
    <ul>
    </ul>
    </div>
    <div id="chatroom-writing">
    <div id="chatroom-loading">
    Loading...
    </div>
    <form method="POST" class="chatroom_writing_form">
    {% csrf_token %}
    <ul>
    {{ chatroomform.as_ul }}
    </ul>
    </form>
    </div>
    </div>
    <div class="clear"></div>
    </div>
    <a href="{% url profile_list %}">Browse profiles</a>
{% endblock %}