* {
    margin: 0;    
}

html, body {
    height: 100%;
    background-color: #e9e7e0;
}

#header-wrap {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 126px;
	background-color: white;
}

#footer-wrap {
	position: fixed;
	bottom : 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: white;
}

#leftside-wrap {
	position: fixed;
	top : 135px;
	bottom : 48px;
	left: 0;
	width: 15%;	
	background-color: white;
	overflow-y: scroll;
	background-color: #e9e7e0;
}

#rightside-wrap {
	position: fixed;
	top : 135px;
	bottom : 48px;
	right: 0;
	width: 20%;	
	background-color: white;
	overflow-y: scroll;
	background-color: #e9e7e0;
}

#container {
	z-index: 0;
	margin: 0 auto;
	overflow: auto;
	padding: 126px 25% 50px 15%;
	background-color: #e9e7e0;	
}


.if-invitation-item
{ 
   float: top;
  border:2px purple solid;
  }

ul.showcase-tabs li{
	display: inline;
	margin-left: 1px; 
	margin-right: 1px;
	border:2px pink solid;
	cursor: default;
}

.showcase-tabs-selected{
	background-color: yellow;
}

.debug-console, .push {
    z-index: 99999;
    height: 20%;
    background-color: black;
    border:2px green solid;  
    color: green;
    overflow: scroll;
}

ul.debug-list{
    list-style-type: none;
}

ul.debug-list li:before {
    content:"> ";
}

.pagination{
	text-align: center;
}

.pagination .step-links .pagenumber{
	margin-left: 1%;
	margin-right: 1%;
}

.luthor-group{
    border:2px pink dashed;
}
ul.luthor-groups  li.group-element{
    display: inline-block;
    vertical-align: top;
}

.luthor-slave-nodes{
    border:2px maroon dotted;
    padding: 5px; 
}

.luthor-logic-linker{
    text-align: center;
    font-weight: bold;    
}

#luthor-logic{
    display: none;
}

