#title-bar-upper-space-before {	
	width: 400px;
	height: 95px;
	float: left;
}

#title-bar-upper {
	float: top;
	height: 95px;
}

#title-bar-lower {
	float: top;
	height: 31px;
}


#logo-space {
	z-index: 1;
	position: fixed;
	
	top: 0;
	left:0;	
}

#activity-panel
{    
    float: right;
    margin: 5px;
    margin-right: 10px;
}


#avatar-panel {
	float: top;
	width: 90%;
	margin: 5px auto 5px auto;
	border: 2px black solid;
	padding: 5px;
}

#chat-panel {
	float: right;
	padding: 5px;
	margin: 5px auto 5px auto;	
}

#friends-activity {
	float: right;
	padding: 5px;
	margin: 5px auto 5px auto;		
}

#friends-panel {
	float: left;
	
	width: 300px;
	margin: 0;
	border: 2px blue solid;
	padding: 5px;
	overflow: scroll;
}


#quickdoom-panel {
	float: left;
}

#allsales-panel {
	float: left;
}

#bank-panel {
	float: left;
}

#transactionbutton-panel {
	float: left;
	position: relative;
	z-index: 0;
	width: 200px;
	height: 50px;
	margin: 5px;
	overflow: visible;
	border: 2px red solid;
}

#menu-panel {
	float: left;
	position: relative;
	height: 50px;
	margin: 5px;
	overflow: visible;
}

#visiting-profile-panel{
	float: right;
	position: relative;
	height: 40px;
	margin: 5px;
	overflow: visible;
	border: 2px green solid;
}
#searchbar-dooms-panel {
	float: left;
	position: relative;
	height: 50px;
	width: 100%;
	margin: 0;
	overflow: visible;
	border: 2px purple solid;
}

#searchbar-competitions-panel {	
	margin: 0;
	overflow: visible;
	border: none;
}

#credits-panel {
	float: left;	
	margin: 5px;
}

#profiles-panel{
	float: left;
	width: 66% ;
	
	border: 2px blue solid;
	margin-left: 15px;
	overflow-y: scroll;
}

#help-panel {
	float: right;	
	margin: 5px;	
}

#login-in-header{
	float: right;	
	min-width: 300px;
}

.title-bar-lower-buttons{	
	margin-left: auto;
	margin-right: auto;
	width: 550px;	
}