#title-bar {
	height: 126px;
}


#personal-panel {
	position: relative;
	padding: 5px;
	margin: 0;
	border: none;
	word-wrap: break-word;
	height: 100%;	
}

#info-panel {
	position: relative;	
	padding: 5px;
	margin: 0;
	border: 0;

	word-wrap: break-word;
		
}

#work-panel {
	width: 100%;
	margin: auto;
	padding: 20px;
	border: 2px yellow solid;
	overflow: auto;
	word-wrap: break-word;
}

#footer-panel {
	clear: both;
	margin: 0;
	padding: 0;
} 