{% load i18n %}

{% load pagination_tags %}
{% load avatar_tags %}
{% load humanize %}

<div class="profile clearfix">
    {# @@@ factor out style into css file #}
    <div style="float: left;">{% avatar user 40 %}</div>
    <div style="padding: 5px; margin-left: 50px;"><a href="{% url wall_detail user.username %}">{{ user }}</a><br />
     {% if user.get_profile.name %}<b>{% trans "Name" %}</b>: {{ user.get_profile.name }}{% endif %}<br />
     {% if user.get_profile.about %}<b>{% trans "About" %}</b>: {{ user.get_profile.about }}{% endif %}<br />
     {% if user.get_profile.location%}<b>{% trans "Location" %}</b>: {{ user.get_profile.location }}{% endif %}<br />
     {% if user.get_profile.website %}<b>{% trans "Website" %}</b>: <a href="{{ user.get_profile.website }}">{{ user.get_profile.website }}</a>{% endif %}
</div>