{% load uni_form_tags %}


<form class="uniForm" method="POST" action="{% url interactive_friends_friendship_request username%}">
  {% csrf_token %}
  <fieldset class="inlineLabels">
    {{ invite_form|as_uni_form }}
    <div class="form_block">
      <input type="submit" id="aafsubmit" value="send request" />
    </div>
  </fieldset>
</form>
