{% load avatar_tags %}

{% if request.user.is_authenticated %}
	{% if request.user == other_user %}
		<span class="user-list-title">My friends:</span>
	{% else %}
		<span class="user-list-title">
			<span class="avatar">{% avatar other_user 20 %}</span>
		  	<span class="user-list-name">{{ other_user }}'s friends:</span>
		</span>
	{% endif %}
	{% if other_friends %}
	   <span class="user-list-content">
	    <ul class="user-list">
	      {% for friendship in other_friends %}
	      <li>
		  	<span class="avatar">{% avatar friendship.friend 20 %}</span>
		  	<span class="user-list-name"><a href="{% url wall_detail friendship.friend.username %}" title="{{ friendship.friend }}">{{ friendship.friend }}</a></span>
		  </li>
		  {% endfor %}
		</ul>
	</span>
	 	{% else %}
	   	No friends.
	{% endif %}
{% else %}
	Friends list
{% endif %}
	 