{% ifequal object.status "2" %}  
<div class="notification-parent if-invitation-item" id="if_invitation_{{object.id}}">    
    <div class="notification-header">
		<span class="if_invitation_{{object.id}}">          
			{{ object.from_user.get_profile.nickname }}[{{ object.from_user.username }}] wants to be friends with you.
		</span> 
    </div>
    <div class="notification-body">
        Message:
        <span class="object_message">{{ object.message }}</span>        
        <ul id="if_invitation_interaction_{{object.id}}">
            <li><a href="javascript:void(0);" id="if_invitation_accept_{{object.id}}" class="if_invitation_accept" value="{{object.id}}">Accept</a></li>
            <li><a href="javascript:void(0);" id="if_invitation_decline_{{object.id}}" class="if_invitation_decline" value="{{object.id}}">Decline</a></li>
            <li><a href="{% url wall_detail object.from_user.username %}" id="if_invitation_profile_{{ object.id }}" class="if_invitation_profile" value="{{object.id}}">View profile</a></li>
        </ul>                
    </div>
</div>
{%endifequal%}

{% ifequal object.status "5" %}
<div class="notification-parent if-invitation-item">        
    <div class="notification-header">		
        {% ifequal request.user.username object.to_user.username %}
		<a href="{% url wall_detail object.from_user.username %}">You are now friends with {{object.from_user.username}}.</a>
		{% else %}
        <a href="{% url wall_detail object.to_user.username %}">You are now friends with {{object.to_user.username}}.</a>		
		{% endifequal %}
		
    </div>
</div>
{%endifequal%}

{% ifequal object.status "6" %}
<div class="notification-parent if-invitation-item">    
    <div class="notification-header">
		<a href="{% url wall_detail object.from_user.username %}">
		{% ifequal request.user.username object.to_user.username %}
		You have refused to be friends with {{object.from_user.username}}.
		{% else %}
		{{object.to_user.username}} has refused to be friends with you.
		{% endifequal %}
		.
		</a>
    </div>
</div>
{%endifequal%}