<script type="text/x-jqote-template" id="accordeon_invitation_simple_summary">
<![CDATA[
<li class="douaccordeon-parent if-invitation-item">
    <div class="douaccordeon-header">        
        <span class="douaccordeon-summary">
            <%=this.content%>
        </span>
        <div class="clear"></div>        
    </div>
</li>
]]>
</script>

<script type="text/x-jqote-template" id="notification_invitation_simple">
<![CDATA[
<div class="notification-parent if-invitation-item">
    <div class="notification-header">
        <%=this.content%>
    </div>
</div>
]]>
</script>


<script type="text/x-jqote-template" id="friendship_request_menu">
    <![CDATA[
<li class="douaccordeon-parent">    
    <div class="douaccordeon-header">
        <span class="douaccordeon-title">
            <span class="if_invitation_<%=this.id%>">  
                <%= this.from %>[<%= this.from %>] wants to be friends with you.
            </span>
        </span>
        <span class="douaccordeon-summary">
            <a href="javascript:void(0);" id="if_invitation_accept_summary_<%= this.id %>" class="if_invitation_accept" value="<%= this.id %>">[Accept]</a>
			<a href="javascript:void(0);" id="if_invitation_decline_summary_<%= this.id %>" class="if_invitation_decline" value="<%= this.id %>">[Decline]</a>
		</span>
        <div class="clear"></div> 
    </div>
    <div class="douaccordeon-body">
        Message:
        <span class="object_message"><%= this.message %></span>        
        <ul id="if_invitation_interaction_<%= this.id %>">
            <li><a href="javascript:void(0);" id="if_invitation_accept_<%= this.id %>" class="if_invitation_accept" value="<%= this.id %>">Accept</a></li>
            <li><a href="javascript:void(0);" id="if_invitation_decline_<%= this.id %>" class="if_invitation_decline" value="<%= this.id %>">Decline</a></li>
            <li><a href="<% var url=require('urls').resolve("profiles",{"username":this.from}); %><%=url%>" id="if_invitation_profile_<%= this.id %>">View profile</a></li>
        </ul>                
    </div>
</li>
    ]]>
</script>

<script type="text/x-jqote-template" id="friendship_request_page">
    <![CDATA[
<div class="notification-parent if-invitation-item" id="if_invitation_<%= this.id %>">    
    <div class="notification-header">
		<span class="if_invitation_<%=this.id%>">          
			<%= this.from %>[<%= this.from %>] wants to be friends with you.
		</span> 
    </div>
    <div class="notification-body">
        Message:
        <span class="object_message"><%= this.message %></span>        
        <ul id="if_invitation_interaction_<%= this.id %>">
            <li><a href="javascript:void(0);" id="if_invitation_accept_summary_<%= this.id %>" class="if_invitation_accept" value="<%= this.id %>">[Accept]</a></li>
            <li><a href="javascript:void(0);" id="if_invitation_decline_summary_<%= this.id %>" class="if_invitation_decline" value="<%= this.id %>">[Decline]</a></li>
            <li><a href="<% var url=require('urls').resolve("profiles",{"username":this.from}); %><%=url%>" id="if_invitation_profile_<%= this.id %>">View profile</a></li>
        </ul>                
    </div>
</div>
    ]]>
</script>

<script type="text/x-jqote-template" id="friendship_completed_content">
<![CDATA[
<% var username=require('init_js_common_functions_static').choose_not_me(this.from,this.to); %>
<a href="<% var url=require('urls').resolve("profiles",{"username":username}); %><%=url%>">
You are now friends with <%= username %>.
</a>
]]>
</script>

<script type="text/x-jqote-template" id="friendship_rejected_content">
<![CDATA[
<% var username=require('init_js_common_functions_static').choose_not_me(this.from,this.to); %>
<a href="<% var url=require('urls').resolve("profiles",{"username":username}); %><%=url%>">
Friendship invitation with <%= username %> has been refused.
</a>
]]>
</script>

<script type="text/x-jqote-template" id="friendship_completed_menu">
<![CDATA[
    <% var text = $("#accordeon_invitation_simple_summary").jqote({'content':$("#friendship_completed_content").jqote(this)}); %>
    <%=text%>
]]>
</script>

<script type="text/x-jqote-template" id="friendship_rejected_menu">
<![CDATA[
    <% var text = $("#accordeon_invitation_simple_summary").jqote({'content':$("#friendship_rejected_content").jqote(this)}); %>
    <%=text%>
]]>
</script>

<script type="text/x-jqote-template" id="friendship_completed_page">
<![CDATA[
    <% var friendship_completed_page_text = $("#notification_invitation_simple").jqote( 
			{'content' : $("#friendship_completed_content").jqote(this)}
		); 
	%>
    <%=friendship_completed_page_text%>
]]>
</script>

<script type="text/x-jqote-template" id="friendship_rejected_page">
<![CDATA[
    <% var friendship_rejected_page_text = $("#notification_invitation_simple").jqote( 
			{'content' : $("#friendship_rejected_content").jqote(this)}
		); 
	%>
    <%=friendship_rejected_page_text%>
]]>
</script>

